.main{
	margin:25px 11px; border:1px solid #80ccfe; border-radius:1px;
	padding:0 0 20px 0;
}

.main .title{
	font-size:2.7rem; color:#029aff; height:80px; line-height:80px;
	padding:0 0 0 10px;
}

.main{
	font-size:2.2rem;
}

.main table{
	margin-top:-10px;
}

.main td{
	height:48px; line-height:48px;
}

.main table td:nth-of-type(2n+1){
	width:175px;
	text-align:right;
}

.main table td:nth-of-type(2n){
	color:#666;
	overflow: hidden;
	max-width: 380px;
	text-overflow: ellipsis;
}

.btns{
	margin:20px 65px;
	height:63px;
	box-sizing: border-box;
}

.btns > div{
	width:223px; height:63px; line-height:63px;
	font-size:2.7rem;
	border-width:1px;
	border-style:solid;
	border-radius:3px;
	text-align:center;
}

.btns .back{
	border-color:#009aff; color:#009aff;
	float:left;
}

.btns .close{
	border-color:#cfcfcf; color:#666;
	float:right;
}

.pictures{
	position:fixed; top:0; bottom:0;
	width:100%;
	background-color:RGBA(0,0,0,0.8);
	display:none;
}

.swiper-container{
	position:absolute; top:0; bottom:0;
	width:640px;
}

.swiper-slide{
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

.detail{
	vertical-align: sub; width:40px; height:40px;
	display:inline-block;
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAflBMVEUAAAAAmf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf8Amf+MAlQoAAAAKXRSTlMArG3xpEi2kNHMuojgwHNqZOnOf1dQMMvElxoLBwHa1m5cJBH02YqJPiVugVcAAAD5SURBVDjLzZTrcoIwEIUDMUAxEC5FRECtvZ73f8EucawNW4bOOIN+vyD5dnIymV1xd55zyckzLib4E8NED5HxXUwI4MjFFSvegUiZ6DHxC9acFxUs2ax4etdavyFhIqcXYgWPi5ybxexzPaBmxXVseXHEZTKWgcNmUjShw2nBjGHxdKWopzNW/i+O/m7BjE3kMJ1xoxxe/330omKvfnqwu4p8AHT1pekCHFpBNCMxgaZ3aCMA257+YwD74dbbUbtWQN6KAxAANW3bD93RSShHcw/YF0AmUiAmqRxWCvIaMaK6jA8yybO1RCgYSspz+xkp03NtLj/EA/ANAMUhP1juWeoAAAAASUVORK5CYII=");
}