.bottle {
    width: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
}

.bottle:after {
    content: '';
    display: block;
    height: 14px;
    width: 100px;
    -moz-border-radius: 46px/10px;
    -moz-box-shadow: 0px 1px 4px -2px rgba(0,0,0,0.2),0px 2px 10px -3px rgba(0,0,0,0.1);
    position: absolute;
    bottom: -7.6px;
    z-index: 0;
}

.bottle:before {
    content: '';
    display: block;
    height: 14px;
    width: 100px;
    -moz-border-radius: 46px/10px;
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,204,255,0.3),0px 2px 15px -2px rgba(0,204,255,0.4);
    position: absolute;
    bottom: -7.6px;
    z-index: 0;
    display: none;
}

.bottle_top {
    height: 30px;
    width: 80px;
    position: relative;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: none;
    border-bottom: none;
    margin: 0px auto;
}

.bottle_title {
    text-align: center;
    overflow: hidden;
    margin-top: -53px;
}

.bottle_title .bottle_title_left {
    font-size: 22px;
    line-height: 40px;
    color: #ffce55;
}

.bottle_title .bottle_title_right {
    font-size: 10px;
    color: #ffce55;
}

.bottle_top:after, .bottle_top:before {
    content: '';
    display: block;
    height: 10px;
    width: 78px;
    -moz-border-radius: 46px/10px;
    border: 2px solid rgba(255,255,255,0.5);
    border-bottom: 2px solid rgba(255,255,255,0.6);
    border-top: 1px solid rgba(255,255,255,0.4);
    position: absolute;
    left: -1px;
    -moz-box-shadow: 0px 0px 6px rgba(255,255,255,0.6) inset;
}

.bottle_top:after {
    top: -6px;
    -moz-box-shadow: 0px 0px 6px rgba(255,255,255,0.6) inset,0px 3px 3px -1px rgba(255,255,255,0.3);
}

.bottle_top:before {
    top: 24px;
    -moz-box-shadow: 0px 0px 6px rgba(255,255,255,0.4) inset;
}

.bottle_neck {
    height: 20px;
    width: 62px;
    position: relative;
    background: none;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: none;
    border-bottom: none;
    margin: 0px auto;
}

.bottle_neck:after,.bottle_neck:before {
    content: '';
    display: block;
    height: 8px;
    width: 62px;
    -moz-border-radius: 30px/8px;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: none;
    position: absolute;
    left: -1px;
}

.bottle_neck:after {
    top: -4px;
    border: 1px solid rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.05);
}

.bottle_neck:before {
    top: 15px;
}

.bottle_main {
    height: 150px;
    position: relative;
    width: 98px;
    background: none;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: none;
    border-bottom: none;
}

.bottle_main:after,.bottle_main:before {
    content: '';
    display: block;
    height: 12px;
    width: 96px;
    -moz-border-radius: 46px/10px;
    border: 2px solid rgba(255,255,255,0.5);
    border-bottom: 2px solid rgba(255,255,255,0.7);
    border-top: 1px solid rgba(255,255,255,0.3);
    position: absolute;
    left: -1px;
}

.bottle_main:after {
    top: -7px;
    -moz-box-shadow: 0px 0px 6px rgba(255,255,255,0.6) inset,0px 3px 3px -1px rgba(255,255,255,0.4),0px 0px 3px rgba(0,0,0,0.05) inset,0px 0px 6px rgba(255,255,255,0.7) inset,0px 0px 3px rgba(0,0,0,0.15) inset;
}

.bottle_main:before {
    top: 143px;
    -moz-box-shadow: 0px 0px 6px rgba(255,255,255,0.7) inset,0px 0px 3px rgba(0,0,0,0.15) inset;
}

.bottle_mouth {
    height: 52px;
    width: 44px;
    margin: 0px auto;
    position: relative;
    background: none;
    border: 1px solid rgba(0,0,0,0.04);
    border-top: none;
    border-bottom: none;
    background: -moz-linear-gradient(left,rgba(255,255,255,0.3),rgba(255,255,255,0) 5%,rgba(255,255,255,0) 95%,rgba(255,255,255,0.3));
    -moz-box-shadow: 0px 0px 6px rgba(255,255,255,0.3);
}

.bottle_mouth:after {
    content: '';
    display: block;
    height: 6px;
    width: 44px;
    -moz-border-radius: 25px/6px;
    border: 1px solid rgba(255,255,255,0.4);
    position: absolute;
    left: -1px;
    top: -4px;
    z-index: 1;
    -moz-box-shadow: 0px 0px 3px rgba(255,255,255,0.3);
}

.bottle_inner {
    height: 149px;
    width: 92%;
    margin: 0px auto;
    -moz-border-radius: 10px 10px 20px 20px/10px;
    border: 1px solid rgba(0,0,0,0.01);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom-width: 0.5px;
    position: relative;
    -moz-box-shadow: 0px 0px 2px rgba(255,255,255,0.5) inset,0px 0px 8px rgba(255,255,255,0.6) inset,0px 0px 5px rgba(255,255,255,0.5);
    position: relative;
    top: 1px;
}

.bottle_inner:before {
    content: '';
    display: block;
    -moz-border-radius: 40px/4px;
    position: absolute;
    top: 140px;
    width: 90%;
    left: 3px;
    height: 9px;
}

.bottle_inner .bottle_inner_img {
    position: absolute;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 1px;
}

.bottle_top .highlight
{
    display: block;
    height: 30px;
    width: 20px;
    position: absolute;
    left: 5px;
    top: 5px;
    -moz-transform: skew(0deg,5deg);
    background: -moz-linear-gradient(left,rgba(255,255,255,0.1),rgba(255,255,255,0.6) 4%,rgba(255,255,255,0.2) 98%,rgba(255,255,255,0));
}

.bottle_top .highlight:after
{
    content: '';
    display: block;
    height: 30px;
    width: 2px;
    position: absolute;
    left: -3px;
    top: -1px;
    -moz-transform: skew(0deg,5deg);
    background: rgba(255,255,255,0.3);
}

.bottle_main .highlight
{
    display: block;
    height: 150px;
    width: 25px;
    position: absolute;
    left: 10px;
    top: 4px;
    -moz-transform: skew(0deg,6deg);
    background: -moz-linear-gradient(left,rgba(255,255,255,0.2),rgba(255,255,255,0.5) 4%,rgba(255,255,255,0.2) 98%,rgba(255,255,255,0));
    z-index: 2;
}

.bottle_main .highlight:after
{
    content: '';
    display: block;
    height: 150px;
    width: 4px;
    position: absolute;
    left: -6px;
    top: 0px;
    -moz-transform: skew(0deg,3deg);
    background: -moz-linear-gradient(top,rgba(255,255,255,0.3),rgba(255,255,255,0) 80%);
}

.bottle_neck .highlight
{
    display: block;
    height: 20px;
    width: 25px;
    position: absolute;
    left: 2px;
    top: 6px;
    -moz-transform: skew(0deg,6deg);
    background: -moz-linear-gradient(left,rgba(255,255,255,0.1),rgba(255,255,255,0.3) 4%,rgba(255,255,255,0.1) 98%,rgba(255,255,255,0));
}

.bubble
{
    display: block;
    border: 0.5px solid rgba(255,255,255,0.7);
    position: absolute;
    z-index: 1;
    -moz-border-radius: 6px/3px;
    -moz-transform: skew(0deg,2deg);
    -moz-box-shadow: 0px 0px 2px rgba(255,255,255,0.6) inset,-1px 1px 2px -1px rgba(0,204,255,0.1);
}

.bottle:after
{
    -webkit-border-radius: 46px/10px;
    -webkit-box-shadow: 0px 1px 4px -2px rgba(0,0,0,0.2),0px 2px 10px -3px rgba(0,0,0,0.1);
}

.bottle:before
{
    -webkit-border-radius: 46px/10px;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,204,255,0.3),0px 2px 15px -2px rgba(0,204,255,0.4);
}

.bottle_top:after,.bottle_top:before
{
    -webkit-border-radius: 46px/10px;
    -webkit-box-shadow: 0px 0px 6px rgba(255,255,255,0.6) inset;
}

.bottle_top:after
{
    -webkit-box-shadow: 0px 0px 6px rgba(255,255,255,0.6) inset,0px 3px 3px -1px rgba(255,255,255,0.3);
}

.bottle_top:before
{
    -webkit-box-shadow: 0px 0px 6px rgba(255,255,255,0.4) inset;
}

.bottle_neck:after,.bottle_neck:before
{
    -webkit-border-radius: 30px/8px;
}

.bottle_neck:after
{
    -webkit-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.05);
}

.bottle_main:after,.bottle_main:before
{
    -webkit-border-radius: 46px/10px;
}

.bottle_main:after
{
    -webkit-box-shadow: 0px 0px 6px rgba(255,255,255,0.6) inset,0px 3px 3px -1px rgba(255,255,255,0.4),0px 0px 3px rgba(0,0,0,0.05) inset,0px 0px 6px rgba(255,255,255,0.7) inset,0px 0px 3px rgba(0,0,0,0.15) inset;
}

.bottle_main:before
{
    -webkit-box-shadow: 0px 0px 6px rgba(255,255,255,0.7) inset,0px 0px 3px rgba(0,0,0,0.15) inset;
}

.bottle_mouth
{
    background: -webkit-linear-gradient(left,rgba(255,255,255,0.3),rgba(255,255,255,0) 5%,rgba(255,255,255,0) 95%,rgba(255,255,255,0.3));
    -webkit-box-shadow: 0px 0px 6px rgba(255,255,255,0.3);
}

.bottle_mouth:after
{
    -webkit-border-radius: 25px/6px;
    -webkit-box-shadow: 0px 0px 3px rgba(255,255,255,0.3);
}

.bottle_inner
{
    -webkit-border-radius: 10px 10px 20px 20px/10px;
    -webkit-box-shadow: 0px 0px 2px rgba(255,255,255,0.5) inset,0px 0px 8px rgba(255,255,255,0.6) inset,0px 0px 5px rgba(255,255,255,0.5);
}

.bottle_inner:before
{
    -webkit-border-radius: 40px/4px;
}

.bottle_top .highlight
{
    -webkit-transform: skew(0deg,5deg);
    background: -webkit-linear-gradient(left,rgba(255,255,255,0.1),rgba(255,255,255,0.6) 4%,rgba(255,255,255,0.2) 98%,rgba(255,255,255,0));
}

.bottle_top .highlight:after
{
    -webkit-transform: skew(0deg,5deg);
}

.bottle_main .highlight
{
    -webkit-transform: skew(0deg,6deg);
    background: -webkit-linear-gradient(left,rgba(255,255,255,0.2),rgba(255,255,255,0.5) 4%,rgba(255,255,255,0.2) 98%,rgba(255,255,255,0));
}

.bottle_main .highlight:after
{
    -webkit-transform: skew(0deg,3deg);
    background: -webkit-linear-gradient(top,rgba(255,255,255,0.3),rgba(255,255,255,0) 80%);
}

.bottle_neck .highlight
{
    -webkit-transform: skew(0deg,6deg);
    background: -webkit-linear-gradient(left,rgba(255,255,255,0.1),rgba(255,255,255,0.3) 4%,rgba(255,255,255,0.1) 98%,rgba(255,255,255,0));
}

.bubble
{
    [;border-width: 1px;
    ]; -webkit-border-radius: 6px/3px;
    -webkit-transform: skew(0deg,2deg);
    -webkit-box-shadow: 0px 0px 2px rgba(255,255,255,0.6) inset,-1px 1px 2px -1px rgba(0,204,255,0.1);
}
@-moz-keyframes sign-sway {
    0% {
        -moz-transform: translateX(-8%) rotate(12deg);
        transform: translateX(-8%) rotate(12deg);
    }
    50% {
        -moz-transform: translateX(8%) rotate(-12deg);
        transform: translateX(8%) rotate(-12deg);
    }
    100% {
        -moz-transform: translateX(-8%) rotate(12deg);
        transform: translateX(-8%) rotate(12deg);
    }
}
@-webkit-keyframes sign-sway {
    0% {
        -webkit-transform: translateX(-8%) rotate(12deg);
        transform: translateX(-8%) rotate(12deg);
    }
    50% {
        -webkit-transform: translateX(8%) rotate(-12deg);
        transform: translateX(8%) rotate(-12deg);
    }
    100% {
        -webkit-transform: translateX(-8%) rotate(12deg);
        transform: translateX(-8%) rotate(12deg);
    }
}
@keyframes sign-sway {
    0% {
        -moz-transform: translateX(-8%) rotate(12deg);
        -ms-transform: translateX(-8%) rotate(12deg);
        -webkit-transform: translateX(-8%) rotate(12deg);
        transform: translateX(-8%) rotate(12deg);
    }
    50% {
        -moz-transform: translateX(8%) rotate(-12deg);
        -ms-transform: translateX(8%) rotate(-12deg);
        -webkit-transform: translateX(8%) rotate(-12deg);
        transform: translateX(8%) rotate(-12deg);
    }
    100% {
        -moz-transform: translateX(-8%) rotate(12deg);
        -ms-transform: translateX(-8%) rotate(12deg);
        -webkit-transform: translateX(-8%) rotate(12deg);
        transform: translateX(-8%) rotate(12deg);
    }
}
.line_3d{
    -webkit-animation-name:y-ain;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count:infinite;
}
   
@-webkit-keyframes y-ain{
    0%{-webkit-transform:rotateY(0deg);}
    50%{-webkit-transform:rotateY(180deg);}
    100%{-webkit-transform:rotateY(360deg);}
}

.extend-widget-header {
    background-color: #5db2ff;
    padding: 20px 25px;
    text-align:left;
}

.widget-body,.charts-body{
    overflow-x:hidden;
    overflow-y:auto;
}

.charts-body > div{
    height:400px;
}

.lock-container {
    margin: 30px 0 0 0;
}

.lock-container .lock-box {
    width: 124px;
    left: 50%;
    margin-left:-64px;
    height:55px;
    border: 1px solid #5db2ff;
    z-index: 1;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 40% 20%;
    border-bottom-left-radius: 40% 20%;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0.2),rgba(114,98,76,0.4) 4%,rgba(255,255,255,0.2) 98%,rgba(255,255,255, 0));
    background: -moz-linear-gradient(left,rgba(255,255,255,0.2),rgba(114,98,76,0.4) 4%,rgba(255,255,255,0.2) 98%,rgba(255,255,255, 0));
    background: -os-linear-gradient(left,rgba(255,255,255,0.2),rgba(114,98,76,0.4) 4%,rgba(255,255,255,0.2) 98%,rgba(255,255,255, 0));
    background: linear-gradient(left,rgba(255,255,255,0.2),rgba(114,98,76,0.4) 4%,rgba(255,255,255,0.2) 98%,rgba(255,255,255, 0));
}

.lock-container .lock-box .lock-username {
    top: 14px;
    color:#fff;
    font-weight: bold;
    height: 30px;
}

.lock-container .lock-box .lock-head {
    border: 2px solid #5db2ff;
    top: -25px;
    left: -webkit-calc(50% - 25.6px);
    left: -moz-calc(50% - 25.6px);
    left: calc(50% - 25.6px);
    width: 51.2px;
    height: 51.2px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 30% 20%;
    border-bottom-left-radius: 30% 20%;
    filter:alpha(opacity=80); 
    -moz-opacity:0.8; 
    -khtml-opacity: 0.8; 
    opacity: 0.8;
    border-bottom: 2px solid #CAC587;
}

.lock-container .signinbox {
    width: 150px!important;
    left: 50%;
    margin-left:-75px;
    border: 1px solid #BBC587;
    position: relative;
    margin-top: -42px;
    height: 150px!important;
    padding:40px 15px 10px 15px;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 15% 25%;
    border-bottom-left-radius: 15% 25%;
    background: -webkit-linear-gradient(left, rgba(114,98,76,0.4), rgba(114,98,76,0.5) 4%, rgba(114,98,76,0.4) 98%, rgba(255,255,255,0)); -moz-animation: sign-sway 2.5s infinite;-webkit-animation: sign-sway 2.5s infinite;animation: sign-sway 2.5s infinite;
}

.lock-container .signinbox_title {
    font-size:20px;
    font-weight: bold;
    color:#fff;
}

.lock-container .signinbox_content {
    margin-top: 3px;
}

.lock-container .signinbox_content_jf {
    font-size: 12px;
    color: #fff;
}

.lock-container .signinbox_content_lj {
    font-size: 12px;
    color: #fff;
}

.lock-container .signinbox_content_gr {
    font-size:12px;
    color:#fff;
    margin-top: 8px;
}

.lock-container .badge-success {
    font-size: 13px!important;
}

@keyframes myfirst {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);       /* IE 9 */
        -webkit-transform: rotate(0deg);   /* Safari and Chrome */
        -o-transform: rotate(0deg);        /* Opera */
        -moz-transform: rotate(0deg);      /* Firefox */
    }
    to {
        transform: rotate(359deg);
        -ms-transform: rotate(359deg);       /* IE 9 */
        -webkit-transform: rotate(359deg);   /* Safari and Chrome */
        -o-transform: rotate(359deg);        /* Opera */
        -moz-transform: rotate(359deg);      /* Firefox */
    }
}

@-moz-keyframes myfirst {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);       /* IE 9 */
        -webkit-transform: rotate(0deg);   /* Safari and Chrome */
        -o-transform: rotate(0deg);        /* Opera */
        -moz-transform: rotate(0deg);      /* Firefox */
    }
    to {
        transform: rotate(359deg);
        -ms-transform: rotate(359deg);       /* IE 9 */
        -webkit-transform: rotate(359deg);   /* Safari and Chrome */
        -o-transform: rotate(359deg);        /* Opera */
        -moz-transform: rotate(359deg);      /* Firefox */
    }
}

@-webkit-keyframes myfirst {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);       /* IE 9 */
        -webkit-transform: rotate(0deg);   /* Safari and Chrome */
        -o-transform: rotate(0deg);        /* Opera */
        -moz-transform: rotate(0deg);      /* Firefox */
    }
    to {
        transform: rotate(359deg);
        -ms-transform: rotate(359deg);       /* IE 9 */
        -webkit-transform: rotate(359deg);   /* Safari and Chrome */
        -o-transform: rotate(359deg);        /* Opera */
        -moz-transform: rotate(359deg);      /* Firefox */
    }
}

@-o-keyframes myfirst {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);       /* IE 9 */
        -webkit-transform: rotate(0deg);   /* Safari and Chrome */
        -o-transform: rotate(0deg);        /* Opera */
        -moz-transform: rotate(0deg);      /* Firefox */
    }
    to {
        transform: rotate(359deg);
        -ms-transform: rotate(359deg);       /* IE 9 */
        -webkit-transform: rotate(359deg);   /* Safari and Chrome */
        -o-transform: rotate(359deg);        /* Opera */
        -moz-transform: rotate(359deg);      /* Firefox */
    }
}

.ldzzimg {
    animation: myfirst 2s infinite linear;
    -moz-animation: myfirst 2s infinite linear; /* Firefox */
    -webkit-animation: myfirst 2s infinite linear;  /* Safari å’Œ Chrome */
    -o-animation: myfirst 2s infinite linear;   /* Opera */
}