<style>
    .extend-row {
        margin: 0;
        height: 45px;
    }
    .extend-btn-title {
        padding: 12px 10px;
    }
    .extend-btn-back {
        padding: 12px 0px;
    }
    .extend-glyphicon-arrow-left {
        white-space:nowrap;
        font-size: 20px; 
        color: #5db2ff;
        float: right;
    }
</style>
<div class="row extend-row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 extend-btn-back">
        <a  href="<%= backUrl %>">
            <span class="glyphicon glyphicon-arrow-left extend-glyphicon-arrow-left"></span>
        </a> 
    </div>
    <div id="lblTitle" class="col-lg-7 col-md-7 col-sm-7 col-xs-7 extend-btn-title text-left"> 
        <span class="widget-caption" style="font-size: 18px;"><%=title%></span>
    </div>
    <div id="btnMenu" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding: 0 8px;"> 
        <a id="btnOperation" class="btn btn-blue" href="javascript:void(0);" style="margin-top: 6px;float: right;padding: 6px 12px;">
            <%= btnTitle %>
        </a>
    </div>             
</div>