<style>
    .extend-row {
        margin: 0;
        height: 45px;
    }
    .extend-btn-menu {
        padding: 8px 8px;
    }
    .extend-btn-search {
        padding: 13px 6px;
    }
    .extend-btn-css {
        padding: 10px 3px;
    }
    .extend-btn-menu .dropdown-toggle .fa {
        font-size: 23px; 
        color: #5db2ff;
        margin-top: 8px;
    }
    .extend-btn-menu ul li {
        border-bottom: 1px solid #eee;
        padding: 6px;
    }
    .extend-btn-menu ul li a {
        color: #737373;
    }
    .extend-btn-title {
        padding: 10px;
    }
    .extend-btn-back {
        padding: 12px 0px;
    }
    .extend-text-search {
        padding: 5px;
        display: none;
    }
    .extend-fa-search {
        font-size: 20px; 
        color: #5db2ff;
        float:right;
    }
    .extend-widget-caption {
        font-size: 18px;
    }
    .extend-form-control {
        direction: initial;
        border-left: 0 !important;
        border-top: 0 !important;
        border-right: 0 !important;
        padding: 6px 12px 3px 12px;
        font-size: 16px;
    }
    .extend-glyphicon-arrow-left {
        white-space:nowrap;
        font-size: 20px; 
        color: #5db2ff;
        float: right;
    }
</style>
<div class="row extend-row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 extend-btn-back" onclick="hideSearch()"> 
        <span class="fa fa-truck extend-glyphicon-arrow-left"></span>  
    </div>
    <div id="txtSearch" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 extend-text-search"> 
        <input id="searchField" type="text" class="form-control extend-form-control" placeholder="品牌/车系">
    </div>
    <div id="lblTitle" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 extend-btn-title text-left"> 
        <span class="widget-caption extend-widget-caption"><%=title%></span>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 extend-btn-search">
        <span class="fa fa-search extend-fa-search" onclick="showSearch();"></span>  
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 extend-btn-css">
        <a href="/open/soldCars">
            <img src="../img/carsold.png" style="height: 26px;"/>
        </a>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 extend-btn-css">
        <img src="../img/caradd.png" style="height: 26px;" onclick="addCarts();"/>
    </div>          
</div>
<script>
    function showSearch() {
        $("#lblTitle, #btnMenu").hide();
        $("#txtSearch").show().find('input').focus();
    }
    function hideSearch() {
        $("#btnMenu").show();
        $("#lblTitle").show();
        $("#txtSearch").hide();
    }
    function addCarts() {
        // 删除页面间数据
        delete sessionStorage.carData;
        delete sessionStorage.carEditData;
        location.href="/open/carsUpload";
    }
</script>