<!-- 页面样式 -->
<link rel="stylesheet" href="/css/app/login.css" />
<!-- 页面主体 -->
<div class="app_body">
	<!-- 玖伍淘车logo -->
	<div class="app_logo"></div>
	<!-- 手机号 -->
	<div class="app_input app_phone">
		<div class="ico_phone"></div>
		<input name="mobile" type="tel" class="txt_phone" maxlength="11" placeholder="手机号码" />
		<span class="lbl_err"><span>
	</div>
	<!-- 密码 -->
	<div class="app_input app_password">
		<div class="ico_password"></div>
		<div class="ico_eyes"></div>
		<input name="password" type="password" class="txt_password" maxlength="20" placeholder="登录密码" autocomplete="off" />
		<span class="lbl_err"><span>
	</div>
	<!-- 忘记密码 -->
	<a href="/open/recover" class="lbl_recover">忘记密码？</a>
	<!-- 登录 -->
	<input type="button" class="btn_login" value="登录">
	<!-- 标题 -->
	<span class="lbl_title">还没有账号？</span>
	<!-- 注册 -->
	<a href="/open/register" class="clj_lable">现在就去注册</a>
</div>
<!-- 页面脚本 -->
<script src="../js/app/login.js"></script>