<!-- 页面样式 -->
<link rel="stylesheet" href="/css/app/recover.css" />
<!-- 页面主体 -->
<div class="app_body">
	<!-- 玖伍淘车logo -->
	<div class="app_logo"></div>
	<!-- 手机号 -->
	<div class="app_input app_phone">
		<div class="ico_phone"></div>
		<input name="mobile" type="tel" class="txt_phone" placeholder="请输入手机号码" />
		<span class="lbl_err"><span>
	</div>
	<!-- 密码 -->
	<div class="app_input app_password">
		<div class="ico_password"></div>
		<div class="ico_eyes"></div>
		<input name="password" type="password" class="txt_password" placeholder="请输入新密码" />
		<span class="lbl_err"><span>
	</div>
	<!-- 验证码 -->
	<div class="app_input app_vcode">
		<input name="vcode" type="tel" class="txt_vcode" placeholder="您获取的验证码" />
		<div class="btn_vcode">获取手机验证码</div>
		<span class="lbl_err"><span>
	</div>
	<!-- 注册 -->
	<input type="button" class="btn_recover" value="确认重置">
	<!-- 标题 -->
	<span class="lbl_title">放弃重置？</span>
	<!-- 登录 -->
	<a href="/open/login" class="clj_lable">返回登录</a>
</div>
<!-- 页面脚本 -->
<script src="../js/app/recover.js"></script>