	<% include header.ejs %>
	<title>登录</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/font-awesome.min.css" rel="stylesheet" />
	<link href="../css/beyond.min.css" rel="stylesheet" />
	<%if(isDebug){%>
		<link rel="stylesheet" href="/merchant/css/login.css" />
	<%}else{%>
		<link rel="stylesheet" href="/merchant/css/login.css" />
	<%}%>
</head>
<body>
	<div style="height:200px"></div>
	<form id="loginForm" class="form-horizontal" action="/merchant/checkLogin" method="post">
		<div class="form-group">
			<i class="icon icon-username"></i>
			<input name="username" type="text" placeholder="用户名" value="<%=shopcode%>">
		</div>
		<br/><br/>
		<div class="form-group">
			<i class="icon icon-password"></i>
			<input name="password" type="password" placeholder="登录密码">
			<div class="clear-div">
				<img class="clear" src="/merchant/img/clear.png"/>
			</div>
		</div>
		<input type="submit" class="submit" value="登 录"/>
	</form>
	
	<div id="modal-success" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" style="left: 50%;margin-left: -150px;">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-check"></i>
                </div>
                <div class="modal-title"></div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-warning" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" style="left: 50%;margin-left: -150px;">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="modal-title"></div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
    <input id="alert-success" type="hidden" data-toggle="modal" data-target="#modal-success">
    <input id="alert-warning" type="hidden" data-toggle="modal" data-target="#modal-warning">

	<input name="openid" type="hidden" value="<%= openid %>"/>
	<input name="shopcode" type="hidden" value="<%= shopcode %>"/>
	<script src="/js/prefixfree.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<%if(isDebug){%>
		<script src="/merchant/js/common.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/bootstrapValidator.min.js"></script>
		<script src="/merchant/js/login.js"></script>
	<%}else{%>
		<script src="/merchant/js/common.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/bootstrapValidator.min.js"></script>
		<script src="/merchant/js/login.min.js"></script>
	<%}%>
</body>
</html>
