	<% include header.ejs %>
	<title>核销卡券</title>
	<%if(isDebug){%>
		<link rel="stylesheet" href="/merchant/css/common.css" />
		<link rel="stylesheet" href="/merchant/css/verification.css" />
	<%}else{%>
		<link rel="stylesheet" href="/merchant/css/common.css" />
		<link rel="stylesheet" href="/merchant/css/verification.css" />
	<%}%>
</head>
<body>
	<ul class="top-menu">
		<li class="selected"><a href="/merchant/verificationSn">核销卡券</a><div class="underline"></div></li>
		<li><a href="/merchant/verificationRecord">核销记录</a></li>
		<li><a href="/merchant/settLog">结算历史</a></li>
	</ul>
	<div class="hr"></div>
	<div class="step">
		<div class="circle selected">1</div>
		<div class="line selected"></div>
		<div class="circle">2</div>
		<div class="line"></div>
		<div class="circle">3</div>
	</div>
	<ul class="step-words">
		<li class="selected">券号输入/扫一扫</li>
		<li>核对卡券信息</li>
		<li>核销完成</li>
	</ul>
	<div class="hr"></div>
	<div class="input-sn">
		<div class="please-input">请输入卡券序列号</div>
		<input name="no" type="text" maxlength="12" placeholder="请输入12位数字券号"/>
		<div name="query" class="confirm btn">查询</div>
	</div>
	<div class="or">
		<hr style="float:left"/>
		或
		<hr style="float:right"/>
	</div>
	<div class="scan-qr">
		<div class="please-scan">优惠券二维码扫描</div>
		<div name="scan" class="confirm btn">扫一扫</div>
	</div>
	<div class="invalid">
		<div class="model">
			<img class="close" src="/merchant/img/close.png"/>
			<div class="center title">
				<img src="/merchant/img/tishi.png" style="vertical-align: top;"/><span class="invalidTitle"></span>
			</div>
			<div class="tips">
				<div class="center">
					<span class="invalidDesc"></span>
				</div>
			<div>
			<div class="center phone">
				若有疑问, 请拨打客服: 0512-88886666
			</div>
			<div class="center close">
				返回
			</div>
		</div>
	</div>
	<input type="hidden" name="appId" value="<%=appId%>"/>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/js/prefixfree.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<%if(isDebug){%>
		<script src="/merchant/js/common.js"></script>
		<script src="/merchant/js/verification-sn.js"></script>
	<%}else{%>
		<script src="/merchant/js/common.min.js"></script>
		<script src="/merchant/js/verification-sn.min.js"></script>
	<%}%>
</body>
</html>