<style>
    
</style>
<div class="row extend-row">
    <% if (pagePath == '../page/home') { %>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 extend-btn-back"> 
            <span class="fa fa-home extend-glyphicon-arrow-left"></span>  
        </div>
        <div id="lblTitle" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 extend-btn-title text-lef" style="text-align: left;"> 
            <span class="widget-caption" style="font-size: 18px;"><%=title%></span>
        </div>
        <div id="chat-link" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 extend-btn-menu" style="text-align: left;padding: 9px 0px;box-shadow: none;">
        </div>
    <% } else{ %>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 extend-btn-back"> 
            <span class="fa fa-th extend-glyphicon-arrow-left"></span>  
        </div>
        <div id="lblTitle" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 extend-btn-title text-left"> 
            <span class="widget-caption" style="font-size: 18px;"><%=title%></span>
        </div>
        <div id="btnMenu" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 extend-btn-menu" style="text-align: left;padding: 9px 0px;box-shadow: none;"> 
        </div>             
    <% } %>
</div>