<link rel="prefetch" href="../img/app/menu/dibutubiao_03_default.png" />
<link rel="prefetch" href="../img/app/menu/dibutubiao_03_active.png" />
<link rel="prefetch" href="../img/app/menu/dibutubiao_05_default.png" />
<link rel="prefetch" href="../img/app/menu/dibutubiao_05_active.png" />
<link rel="prefetch" href="../img/app/menu/dibutubiao_07_default.png" />
<link rel="prefetch" href="../img/app/menu/dibutubiao_07_active.png" />
<link rel="prefetch" href="../img/app/menu/dibutubiao_09_default.png" />
<link rel="prefetch" href="../img/app/menu/dibutubiao_09_active.png" />
<style>
    .menu {
        width: 640px;
        height: 110px;
        position: absolute;
        z-index: 1000;
        bottom: 0px;
    }

    .menu .menu_body {
        width: 640px;
        height: 94px;
        border-top: 1px solid #b2b2b2;
        position: absolute;
        z-index: 1010;
        bottom: 0;
        background: -webkit-linear-gradient(top, #69686b, #5b5b5e, #4c4b51, #353538, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f);
        background: -moz-linear-gradient(top, #69686b, #5b5b5e, #4c4b51, #353538, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f);
        background: -ms-linear-gradient(top, #69686b, #5b5b5e, #4c4b51, #353538, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f);
        background: -o-linear-gradient(top, #69686b, #5b5b5e, #4c4b51, #353538, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f);
        background: linear-gradient(top, #69686b, #5b5b5e, #4c4b51, #353538, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f, #2a292f);
        background-color: #2a292f;
    }

    .menu_body div[class^="menu_body_"] {
        width: 128px;
        height: 94px;
        position: absolute;
        z-index: 1020;
        bottom: 0;
        cursor: pointer;
    }

    .menu_body .menu_body_1 {
        left: 0;
    }

    .menu_body .menu_body_2 {
        left: 128px;
    }

    .menu_body .menu_body_2_5 {
        left: 256px;
    }

    .menu_body .menu_body_3 {
        left: 384px;    
    }

    .menu_body .menu_body_4 {
        left: 512px;    
    }

    .menu_body .body_content {
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        margin-left: -40px;
        top: 50%;
        margin-top: -40px;
        color: #fff;
        font-size: 20px;
        text-align: center;
    }

    .menu_body .body_content .active {
        color: #009aff;
    }

    .menu_body .body_content div {
        margin-top: -4px;
    }

    .menu .menu_btn {
        position: absolute;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: #000;
        z-index: 1020;
        top: -35px;
        left: 250px;
        background: #101010;
        background: -webkit-gradient(radial, 48% 5%, 10, 48% 50%, 80, from(#aaa), to(#101010));
        background: -moz-gradient(radial, 48% 5%, 10, 48% 50%, 80, from(#aaa), to(#101010));
        background: -ms-gradient(radial, 48% 5%, 10, 48% 50%, 80, from(#aaa), to(#101010));
        background: -o-gradient(radial, 48% 5%, 10, 48% 50%, 80, from(#aaa), to(#101010));
        background: gradient(radial, 48% 5%, 10, 48% 50%, 80, from(#aaa), to(#101010));
    }

    .menu .menu_btn .btn_add {
        position: absolute;
        width: 100px;
        height: 100px;
        background: #2a292f;
        border-radius: 50%;
        left: 20px;
        top: 20px;
        border: 1px solid #333;
        box-shadow: -1px -3px 2px #111, -2px -1px 0px #222;
    }

    .menu .menu_btn .btn_add_ceng {
        position: absolute;
        width: 140px;
        height: 140px;
        z-index: 1023;
        background: -webkit-linear-gradient(bottom, rgba(42,41,47, 0.9) 10%, rgba(42,41,47, 0.1) 60%, rgba(42,41,47, 0) 70%, rgba(42,41,47, 0) 100%);
        background: -moz-linear-gradient(bottom, rgba(42,41,47, 0.9) 10%, rgba(42,41,47, 0.1) 60%, rgba(42,41,47, 0) 70%, rgba(42,41,47, 0) 100%);
        background: -ms-linear-gradient(bottom, rgba(42,41,47, 0.9) 10%, rgba(42,41,47, 0.1) 60%, rgba(42,41,47, 0) 70%, rgba(42,41,47, 0) 100%);
        background: -o-linear-gradient(bottom, rgba(42,41,47, 0.9) 10%, rgba(42,41,47, 0.1) 60%, rgba(42,41,47, 0) 70%, rgba(42,41,47, 0) 100%);
        background: linear-gradient(bottom, rgba(42,41,47, 0.9) 10%, rgba(42,41,47, 0.1) 60%, rgba(42,41,47, 0) 70%, rgba(42,41,47, 0) 100%);
    }

    .menu .menu_btn .btn_add_ceng i {
        position: absolute;
        left: 45px;
        top: 45px;
        color: #fff;
        outline: none;
        cursor: pointer;
        font-size: 58px;
    }

    .menu .menu_btn .btn_add_ceng i:active {
        color: #0193f3;
    }

    .menu .menu_btn .btn_add_text {
        position: absolute;
        top: 112px;
        height: 95px;
        color: #fff;
        font-size: 20px;
        width: 140px;
        z-index: 1040;
    }
    .menu .menu_btn .btn_add_text .text_1 {
        position: absolute;
        left: 21px;
        top: -5px;
        padding: 5px;
        z-index: 1050;
    }
</style>
<div id="widget-bottom" class="menu">
    <div class="menu_body">
        <a href="/open/home">
            <div class="menu_body_1">
                <div class="body_content fadeIn animated">
                    <img src="../img/app/menu/dibutubiao_03_default.png" width="54" height="54"/>
                    <div>个人中心</div>
                </div>
            </div>
        </a>
        <a href="/open/cars">
            <div class="menu_body_2">
                <div class="body_content fadeIn animated">
                    <img src="../img/app/menu/dibutubiao_05_default.png" width="54" height="54"/>
                    <div>车辆管理</div>
                </div>
            </div>
        </a>
        <div class="menu_body_2_5">
        </div>
        <a href="/open/friends">
            <div class="menu_body_3">
                <div class="body_content fadeIn animated">
                    <img src="../img/app/menu/dibutubiao_07_default.png" width="54" height="54"/>
                    <div>好友</div>
                </div>
            </div>
        </a>
        <a href="/open/menu">
            <div class="menu_body_4">
                <div class="body_content fadeIn animated">
                    <img src="../img/app/menu/dibutubiao_09_default.png" width="54" height="54"/>
                    <div>更多</div>
                </div>
            </div>
        </a>
    </div>
    <div class="menu_btn" onclick="addCarts()">
        <div class="btn_add"></div>
        <div class="btn_add_ceng">
            <i class="fa fa-plus"></i>
        </div>
        <div class="btn_add_text">
            <div class="text_1">添加车辆</div>
        </div>
    </div>
</div>
<script>
    function addCarts() {
        // 删除页面间数据
        delete sessionStorage.carData;
        delete sessionStorage.carEditData;
        location.href="/open/carsUpload";
    }

    $(function() {
        //
        $(".menu").css({
            "transform" : "scale(" + ($("#page-body").width() + 10) / 640 + ")",
            left: - (640 - ($("#page-body").width() + 10)) / 2,
            bottom: -(111 - 110 * ($("#page-body").width() + 10) / 640) / 2
        });
        // 菜单绑定切图效果
        $(".menu .menu_body div[class^='menu_body_']").click(function() {
            // 取消选中
            $(".menu .menu_body div[class^='menu_body_']").find("img").map(function(v, n) {
                var img = new Image();
                img.src = $(n).attr("src").replace("active", "default");
                img.onload = function() {
                    $(n).prop("src", img.src).removeClass("active");
                };
            });
            // 设置选中
            var imgS = new Image();
            imgS.src = $(this).find("img").attr("src").replace("default", "active");
            imgS.onload = function() {
                $(this).find("img").prop("src", imgS.src).next().addClass("active");
            }
        });
    });
</script>