<link rel="stylesheet" type="text/css" href="/css/page/about.css">
<div class="about-app row">
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="well">
            <h2 class="about-h2 block text-center label-sky graded">苏州玖伍淘车</h2>
            <p class="about-p">
                江苏快拍立信网络科技有限公司成立于 2015 年 8 月，注册资金5100万，总部位于有着“高铁新城·数字硅谷”之称的江苏省苏州市阳澄湖数字文化创意产业园。
            </p>
            <p class="about-p">
                公司以汽车后市场产业大数据平台研发与运营为主营业务，常规二手车商B2B网站开发为补充，汽车金融服务为支持，同时涉及基于汽车后市场行业的线上线下拍卖、会展、社群、娱乐等多个领域的构建、经营与管理。
            </p>
            <p class="about-p">
                自成立以来，快拍立信秉承着“诚信、创新、执着”的核心价值观，坚持以市场为导向，以客户为中心，专注于满足汽车后市场对大数据整合与应用需求，使业内企业能高效、便捷地进行数据管理、信息沟通和价值实现，为整体行业的规范化、标准化、信息化做出应有贡献。
            </p>
            <p class="about-p">
                快拍立信是一个充满创新和蓬勃发展的企业。公司不仅拥有一支国内领先，具备丰富大数据整合经验、金融产业整合经验、互联网应用经验的研发团队和运营团队，还持续重视优秀人才的开发与培养，为他们提供公平、向上、优质的平台以发挥聪明才智，做到“人尽其才、各司其职”，以此保持企业持续发展的活力，促进人才不断的自我提升。
            </p>
            <p class="about-p">
                历经一年的快速发展，快拍立信已构建起以“车信7大品牌”为主打产品的“互联网+汽车后市场”新型S2B模式（即Service To Business），该模式以中国二手车市场为切入点，汽车后市场产业类大数据平台为核心，综合平台大数据及众包采集大数据为辅助，致力于在汽车后市场各领域的各环节提供包括营销推广、信息查询、社交沟通、行业数据、休闲娱乐等在内的一站式服务，真正形成以大数据为依据，线上线下协同发展的汽车后市场新生态。
            </p>
            <p class="about-p">
                目前，快拍立信已成立了南京、常州、合肥等分公司。迅速扩大中国市场，成为中国汽车后市场产业大数据平台的领军企业是公司未来发展的绝对目标。
            </p>
        </div>
        <div class="well well-sm text-center">
            <h4 class="about-h4 block">
                <i class="fa fa-phone"></i> 联系方式
            </h4>
            <p class="about-p1">
                公司地址：江苏省苏州市相城区开泰路18号文创园B区6号楼
            </p>
            <p style="margin: 0;">
                公司电话：400-178-9515 周一至周日 09:00-19:00
            </p>
        </div>
        <div class="well well-sm text-center">
            <h4 class="block" style="padding: 0;">
                <i class="fa fa-user"></i> 加入我们
            </h4>
            <p class="about-p1">
                联系人：陆女士 13776125411
            </p>
            <p class="about-p1">
                邮箱： 4008815700@chexinwang.cn
            </p>
        </div>
    </div>
</div>