<div class="tabbable tabs-right">
    <ul class="nav nav-tabs" id="myTab4">
        <li class="active tab-green">
            <a data-toggle="tab" href="#home4" style="padding: 73.75px 15px;font-size:24px;">投诉</a>
        </li>
        <li class="tab-purple">
            <a data-toggle="tab" href="#profile4" style="padding: 73.75px 15px;font-size:24px;">建议</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="home4" class="tab-pane in active">
            <div class="form-group">
                <textarea class="form-control" rows="9" id="form-field-8" placeholder="请填写投诉信息" style="font-size: large;"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-palegreen" style="float: right;font-size: large;">快速发送</button>
            </div>
        </div>
        <div id="profile4" class="tab-pane">
            <div class="form-group">
                <textarea class="form-control" rows="9" id="form-field-8" placeholder="请填写建议信息" style="font-size: large;"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-palegreen" style="float: right;font-size: large;">快速发送</button>
            </div>
        </div>
    </div>
</div>