<link rel="stylesheet" type="text/css" href="/css/page/carsupload.css">
<form id="carsuploadForm" action="/open/carsEdit" method="get" >
    <div id="carsupload">
        <div class="form-group">
            <span class="input-icon icon-left">
                <input id="txtCar" type="text" class="form-control" placeholder="选车：品牌/车系/车型" readonly="readonly">
                <input name="brand_id" type="hidden"/>
                <input name="series_id" type="hidden"/>
                <input name="model_id" type="hidden"/>
                <input id="txtTitle" name="title" type="hidden"/>
                <i class="fa fa-truck circular"></i>
            </span>
        </div>
        <div class="form-group">
            <span class="input-icon icon-left">
                <input id="txtAddress" type="text" class="form-control" placeholder="车源地：省份/城市" readonly="readonly" value="车源地：江苏/苏州">
                <input name="provid" type="hidden" value="11"/>
                <input name="cityid" type="hidden" value="125"/>
                <i class="fa fa-globe circular"></i>
            </span>
        </div>
        <div class="form-group">
            <span class="input-icon icon-left">
                <input id="txtColor" type="text" class="form-control" placeholder="颜色：请选择" readonly="readonly">
                <input name="colorid" type="hidden"/>
                <i class="fa fa-stop circular"></i>
            </span>
        </div>
        <div class="form-group">
            <span class="input-icon icon-left">
                <input id="txtMileage" type="text" class="form-control" placeholder="行驶里程：单位为万公里">
                <input name="mileage" type="hidden"/>
                <i class="fa fa-dashboard circular"></i>
            </span>
        </div>
        <div class="form-group">
            <span class="input-icon icon-left">
                <input id="txtRegisterDate" type="text" class="form-control" placeholder="上牌时间：年-月" readonly="readonly">
                <input name="register_date" type="hidden"/>
                <i class="fa fa-calendar circular"></i>
            </span>
        </div>
        <div class="form-group">
            <span class="input-icon icon-left">
                <input id="txtPrice" type="text" class="form-control" placeholder="待售价格：单位 万元">
                <input name="price" type="hidden">
                <i class="fa fa-cny circular"></i>
            </span>
        </div>
        <div id="divUpload" class="form-group">
            <div class="carsupload-row row">
                 <span>
                    <div class="carsupload-upload col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img id="imgUpload" src="../img/upload.png" width="65">
                    </div>
                    <div class="carsupload-bz col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        请上传3-9张照片，第一张会作为封面。<br/>
                        Tips：横向图片效果最佳哦~
                    </div>
                    <input name="txtUpload" type="hidden" value="0">
                </span>
            </div>
        </div>
    </div>
    <input id="btnSubmit" type="submit">
</form>
<script>
    // 删除图片库
    var imgdel = [];

    function fzData(data, jg) {
        return (function(obj) {
            for (var o in jg) {
                obj[o] = jg[o];
            }
        })(data.parse(carEditData));
    }

    function delImg(id, isht) {
        showModal(
            $("#modal-type-1-info"),
            {
                title: "是否删除该图片？",
                msg: {
                    display: [
                        { 
                            CodeName: '<a href="javascript:void(0);" class="btn btn-labeled btn-darkorange">是<i class="btn-label glyphicon glyphicon-ok"></i></a>', 
                            CodeValue: "1"
                        },
                        { 
                            CodeName: '<a href="javascript:void(0);" class="btn btn-labeled btn-palegreen">否<i class="btn-label glyphicon glyphicon-remove"></i></a>', 
                            CodeValue: "0" 
                        }
                    ]
                },
                text: "CodeName",
                value: "CodeValue",
                width: "60%",
                float: "right",
                col: 6,
                isHideClose: true
            }, function(data1, cb1) {
                if (data1.value == 1) {
                    $("input[name='txtUpload']").val(parseInt($("input[name='txtUpload']").val()) - 1);
                    imgdel.push(id);
                    $("#" + id).remove();
                }
                $("#modal-type-1-info .closed").click();
                cb1();
            }
        );
    }

    function shareFun() {
        wx.hideOptionMenu();
    }

    /*
    * 初始化布局
    **/
    function init() {
        // 生成数据结构
        sessionStorage.carEditData = sessionStorage.carEditData || "{}";
        $("#widget-bottom").hide();
        // 窗口高度调节
        (function(height) {
            $("#page-body").height(height).css("padding", "5px 5px");
            $("#carsupload").height(height - 20);
        })(document.documentElement.clientHeight - 60);
            console.log(sessionStorage.carEditData);
        // 初始化编辑
        initData(
            $("#carsupload"), 
            sessionStorage.carEditData,
            // 结构化
            [
                { 
                    id: "#txtCar", 
                    names: ["brand_name", "series_name", "model_name"], 
                    number: 3,
                    prefix: "",
                    suffix: ""
                },
                {
                    id: "#txtAddress", 
                    names: ["provname", "cityname"], 
                    number: 2,
                    prefix: "车源地：",
                    suffix: ""      
                },
                {
                    id: "#txtColor", 
                    names: ["color"], 
                    number: 1,
                    prefix: "颜色：",
                    suffix: ""   
                },
                {
                    id: "#txtTitle",
                    names: ["title"],
                    number: 1,
                    prefix: "",
                    suffix: ""  
                },
                {
                    id: "#txtMileage",
                    names: ["mileage"],
                    number: 1,
                    prefix: "行驶里程：",
                    suffix: "万公里" 
                },
                {
                    id: "#txtRegisterDate",
                    names: ["register_date"],
                    number: 1,
                    prefix: "上牌时间：",
                    suffix: ""   
                },
                {
                    id: "#txtPrice", 
                    names: ["price"], 
                    number: 1,
                    prefix: "待售价格：",
                    suffix: "万元"
                }
            ],
            function(data) {
                data.imges = data.imges || [];
                // 存储图片长度
                $("[name='txtUpload']").val(data.imges.length);
                // 循环加载图片
                for(var i = 0; i < data.imges.length; i++) {
                    $("#divUpload").append(
                        $('<div id="' + data.imges[i].Innerid + '" onclick="delImg(\'' + data.imges[i].Innerid + '\', \'\')"></div>')
                        .addClass("col-lg-4 col-md-4 col-sm-4 col-xs-4")
                        .css({
                            "text-align" : "center",
                            "padding" : "5px",
                            "padding-bottom" : "10px",
                            "background-color" : "#fff",
                            "border": "1px solid #d5d5d5",
                            "width": ($("#divUpload").width() / 3) + "px",
                            "height": ($("#divUpload").width() / 3) * 0.8 + "px",
                            "line-height": ($("#divUpload").width() / 3 * 0.8 - 15) + "px"
                        }).append((function ($img) {
                            // 计算缩放比例
                            var img = new Image(); 
                            img.src = (data.imges[i].isLy != "wx" ? data.qnUrl : "") + data.imges[i].Path; 
                            img.onload = function() {
                                if (img.height > img.width) {
                                    $img.css("max-height", ($("#carsupload").width() / 3 - 16) * 0.8)
                                    .addClass("animated flipInX")
                                    .css({
                                        "-webkit-box-shadow" : "3px 3px 7px #444",
                                        "-moz-box-shadow" : "3px 3px 7px #444",
                                        "box-shadow" : "3px 3px 7px #444"
                                    })
                                    .prop("src", img.src);
                                } else {
                                    $img.css("max-width", ($("#carsupload").width() / 3 - 16))
                                    .addClass("animated flipInX")
                                    .css({
                                        "-webkit-box-shadow" : "3px 3px 7px #444",
                                        "-moz-box-shadow" : "3px 3px 7px #444",
                                        "box-shadow" : "3px 3px 7px #444"
                                    })
                                    .prop("src", img.src);
                                }
                            };
                            return $img;
                        })($("<img></img>")))
                    );
                }
            }
        );
        // 下一步
        $("#btnOperation").click(function() {
            // 数据缓存
            var obj = JSON.parse(sessionStorage.carEditData);
            $.each($("#carsupload input"), function(i, n) {
                if($(n).prop("name")) {
                    obj[$(n).prop("name")] = $(n).val();
                }
            });
            // 车
            (function(arrXc) {
                obj['brand_name'] = arrXc[0];
                obj['series_name'] = arrXc[1];
                obj['model_name'] = arrXc[2];
            })($("#txtCar").val().split("/"));
            // 地区
            (function(dq) {
                obj['provname'] = dq[0].split("：")[1];
                obj['cityname'] = dq[1];
            })($("#txtAddress").val().split("/"));
            // 颜色
            (function(color) {
                obj['color'] = color.split("：")[1];
            })($("#txtColor").val());
            // 存图片
            if (obj.imges) {
                $.each($("#carsupload .localIds"), function(i, n) {
                    obj.imges.push({
                        isLy: "wx",
                        Path: $(n).attr("src"),
                        Innerid: $(n).parent().attr("id")
                    });
                });
            } else {
                obj.imges = [];
                $.each($("#carsupload .localIds"), function(i, n) {
                    obj.imges.push({
                        isLy: "wx",
                        Path: $(n).attr("src"),
                        Innerid: $(n).parent().attr("id")
                    });
                });  
            }
            // 被删除的图片
            obj.imgdel =  obj["imgdel"] || [];
            for (var i=0; i < imgdel.length; i++) {
                obj["imgdel"].push(imgdel[i]);
            }
            // 删图片数据
            for (var i = 0; i < obj.imgdel.length; i++) {
                // 遍历已删图片
                for (var j = 0; j < obj.imges.length; j++) {
                    if (obj.imges[j].Innerid == obj.imgdel[i]) {
                        obj.imges.splice(j, 1);
                    }
                }
            }
            // 数据缓存
            sessionStorage.carEditData = JSON.stringify(obj);
            // 图片个数统计
            $("[name='txtUpload']").val($("[name='txtUpload']").val() == 0 ? $("#divUpload flipInX").size() : $("[name='txtUpload']").val());
            // 手动判断验证
            if ($validator.start({
                model_id: {
                    notEmpty: {
                        message: '* 请选择一款车'
                    }
                },
                cityid: {
                    notEmpty: {
                        message: '* 请选择车源地'
                    }
                },
                colorid: {
                    notEmpty: {
                        message: '* 请选择颜色'
                    }
                },
                mileage: {
                    notEmpty: {
                        message: '* 请填写里程'
                    },
                    regular: {
                        reg: /^[1-9][0-9]*$|^(?:[1-9][0-9]*\.[0-9]+|0\.(?!0+$)[0-9]+)$/,
                        message: '* 输入格式不正确'
                    }
                },
                register_date: {
                    notEmpty: {
                        message: '* 请选择上牌时间'
                    }
                },
                price: {
                    notEmpty: {
                        message: '* 请填写售价'
                    },
                    regular: {
                        reg: /^[1-9][0-9]*$|^(?:[1-9][0-9]*\.[0-9]+|0\.(?!0+$)[0-9]+)$/,
                        message: '* 输入格式不正确'
                    }
                },
                txtUpload: {
                    betweenof: {
                        min: 3,
                        max: 9,
                        message: '* 最少上传3张图片'
                    }
                }
            })) {
                //
                sessionStorage.noCarReturn = false;
                // 单击提交
                $("#btnSubmit").click();
            }
        });
        // 选图
        $("#imgUpload").click(function() {
            if (wx && $("[name='txtUpload']").val() != 9) {
                // 设置图片上传
                imgupload($("#divUpload"), {
                    max: 9,
                    num: parseInt($("input[name='txtUpload']").val())
                }, function(data) {
                    // 保存图片数量
                    $("input[name='txtUpload']").val(parseInt($("input[name='txtUpload']").val()) + data.imgs.length);
                    // 图片个数是否合法
                    if (data.num >= 3) {
                        $("input[name='txtUpload']")
                            .parent().parent()
                            .removeClass("has-error")
                            .find(".help-block")
                            .hide();
                    }
                    // 绑定删除
                    for (var i in data.imgs) {
                        $("#" + data.imgs[i]).click(function() {
                            var id = $(this).prop("id");
                            // 删除图片弹出层
                            showModal(
                                $("#modal-type-1-info"),
                                {
                                    title: "是否删除该图片？",
                                    msg: {
                                        display: [
                                            { CodeName: '<a href="javascript:void(0);" class="btn btn-labeled btn-darkorange">是<i class="btn-label glyphicon glyphicon-ok"></i></a>', CodeValue: "1" },
                                            { CodeName: '<a href="javascript:void(0);" class="btn btn-labeled btn-palegreen">否<i class="btn-label glyphicon glyphicon-remove"></i></a>', CodeValue: "0" }
                                        ]
                                    },
                                    text: "CodeName",
                                    value: "CodeValue",
                                    width: "60%",
                                    float: "right",
                                    cl: 6,
                                    isHideClose: true
                                }, function(data1, cb1) {
                                    if (data1.value == 1) {
                                        $("input[name='txtUpload']").val(parseInt($("input[name='txtUpload']").val()) - 1);
                                        $("#" + id).remove();
                                    }
                                    $("#modal-type-1-info .closed").click();
                                    cb1();
                                }
                            );
                        });
                    }
                });
            }
        });
        // 选车
        $("#txtCar").click(function() {
            // d品牌数据获取
            $.ajax({
                url: "/api/carBrand",
                type: "post",
                success: function(msg) {
                    // 品牌弹出层
                    showModal(
                        $("#modal-type-1-info"),
                        {
                            title: "品牌",
                            msg: msg,
                            text: "BrandName",
                            value: "Innerid",
                            col: 12,
                            width: "80%",
                            float: "right",
                            html: $("#txtCar").val()
                        }, function(data1, cb1) {
                            // 车系数据获取
                            $.ajax({
                                url: "/api/carSeries",
                                type: "post",
                                data: {
                                    brandId: data1.value
                                },
                                success: function(msg) {
                                    // 车系弹出层
                                    showModal(
                                        $("#modal-type-2-info"),
                                        {
                                            title: "车系",
                                            msg: msg,
                                            text: "SeriesName",
                                            value: "Innerid",
                                            col: 12,
                                            width: "60%",
                                            float: "right"
                                        }, function(data2, cb2) {
                                            // 车型数据获取
                                            $.ajax({
                                                url: "/api/carModel",
                                                type: "post",
                                                data: {
                                                    seriesId: data2.value
                                                },
                                                success: function(msg) {
                                                    // 车型弹出层
                                                    showModal(
                                                        $("#modal-type-3-info"),
                                                        {
                                                            title: "车型",
                                                            msg: msg,
                                                            text: "Modelname",
                                                            value: "Innerid",
                                                            col: 12,
                                                            width: "80%",
                                                            float: "right"
                                                        }, function(data3, cb3) {
                                                            $("#txtCar").val(data1.text + "/" + data2.text + "/" + data3.text);
                                                            $("input[name='title']").val(data1.text + "/" + data2.text);
                                                            $("input[name='brand_id']").val(data1.value);
                                                            $("input[name='series_id']").val(data2.value);
                                                            $("input[name='model_id']").val(data3.value);
                                                            $("#modal-type-3-info .closed").click();
                                                            $("#modal-type-2-info .closed").click();
                                                            $("#modal-type-1-info .closed").click();
                                                            $("input[name='model_id']")
                                                                .parent()
                                                                .parent(".form-group")
                                                                .removeClass("has-error")
                                                                .find(".help-block")
                                                                .hide();
                                                            cb3();
                                                        }
                                                    );
                                                    cb2();
                                                }
                                            });
                                        }
                                    );
                                    // 启动
                                    cb1();
                                }
                            });
                        }
                    );
                }
            });
        });
        // 选地址
        $("#txtAddress").click(function() {
            // 获取省份
            $.ajax({
                url: "/api/provList",
                type: "post",
                success: function(msg) {
                    // 省份弹出层
                    showModal(
                        $("#modal-type-1-info"),
                        {
                            title: "省份",
                            msg: msg,
                            text: "ProvName",
                            value: "Innerid",
                            col: 12,
                            width: "60%",
                            float: "right"
                        }, function(data1, cb1) {
                            // 加载城市
                            $.ajax({
                                url: "/api/cityList",
                                type: "post",
                                data: {
                                    provid: data1.value
                                },
                                success: function(msg) {
                                    // 城市弹出层
                                    showModal(
                                        $("#modal-type-2-info"),
                                        {
                                            title: "城市",
                                            msg: msg,
                                            text: "CityName",
                                            value: "Innerid",
                                            col: 6,
                                            width: "40%",
                                            float: "right"
                                        }, function(data2, cb2) {
                                            $("#txtAddress").val("车源地：" + data1.text + "/" + data2.text);
                                            $("input[name='provid']").val(data1.value);
                                            $("input[name='cityid']").val(data2.value);
                                            $("#modal-type-2-info .closed").click();
                                            $("#modal-type-1-info .closed").click();
                                            $("input[name='cityid']")
                                                .parent()
                                                .parent(".form-group")
                                                .removeClass("has-error")
                                                .find(".help-block")
                                                .hide();
                                            cb2();
                                        }
                                    );
                                    // 启动
                                    cb1();
                                }
                            });
                        }
                    );
                }
            });
        });
        // 选颜色
        $("#txtColor").click(function() {
            $.ajax({
                url: "/api/codeByTypeKey",
                type: "post",
                data: {
                    typekey: "car_color"
                },
                success: function(msg) {
                    showModal(
                        $("#modal-type-1-info"),
                        {
                            title: "颜色",
                            msg: msg,
                            text: "CodeName",
                            value: "CodeValue",
                            col: 4,
                            width: "80%",
                            float: "right",
                            type: "color"
                        }, function(data1, cb1) {
                            $("#txtColor").val("颜色：" + data1.text);
                            $("input[name='colorid']").val(data1.value);
                            $("#modal-type-1-info .closed").click();
                            $("input[name='colorid']")
                                .parent()
                                .parent(".form-group")
                                .removeClass("has-error")
                                .find(".help-block")
                                .hide();
                            sessionStorage.carEditData = fzData(
                                sessionStorage.carEditData,
                                {
                                    "color": data1.text
                                }
                            );
                            cb1();
                        }
                    );
                }
            });
        });
        // 选上牌日期
        $("#txtRegisterDate").click(function() {
            if($("input[name='model_id']").val()) {
                // 上牌日期区间获取 
                $.ajax({
                    url: "/api/carModelById?innerid=" + $("input[name='model_id']").val(),
                    type: "get",
                    success: function(msg) {
                        // 生成结构体
                        var arr = [];
                        // 循环结构体
                        for (var year = msg.Minregyear; year <= msg.Maxregyear; year++) {
                            arr.push([
                                {
                                    text: year + '年',
                                    value: year 
                                }
                            ]);
                        }
                        // 省份弹出层
                        showModal(
                            $("#modal-type-1-info"),
                            {
                                title: "年份",
                                msg: arr,
                                text: "text",
                                value: "value",
                                col: 12,
                                hidetitle: true,
                                width: "75%",
                                float: "right"
                            }, function(data1, cb1) {
                                arr = [];
                                var bling = ['00','01','02','03','04','05','06','07','08','09'];
                                for (var month = 1; month <= 12; month++) {
                                    if (month) {
                                        arr.push([
                                            { text: month + "月", value: bling[month] ? bling[month] : month }
                                        ]);
                                    }
                                }
                                // 加载月份
                                showModal(
                                    $("#modal-type-2-info"),
                                    {
                                        title: "月份",
                                        msg: arr,
                                        text: "text",
                                        value: "value",
                                        col: 12,
                                        hidetitle: true,
                                        width: "50%",
                                        float: "right"
                                    }, function(data2, cb2) {
                                        $("#txtRegisterDate").val("上牌时间：" + data1.value + '-' + data2.value);
                                        $("input[name='register_date']").val(data1.value + '-' + data2.value);
                                        $("#modal-type-2-info .closed").click();
                                        $("#modal-type-1-info .closed").click();
                                        $("input[name='register_date']")
                                            .parent()
                                            .parent(".form-group")
                                            .removeClass("has-error")
                                            .find(".help-block")
                                            .hide();
                                        cb2();
                                    }
                                );
                                // 启动
                                cb1();
                            }
                        );
                    }
                });
            } else {
                alert("请先选择车型");
            }
        });
        // 里程控制
        $validator.control($("#txtMileage"), {
            name: "mileage",
            reg: /^(\d+)(\.\d{1,2})?$/,
            prefix: "行驶里程：",
            suffix: "万公里"
        });
        // 待售价格控制
        $validator.control($("#txtPrice"), {
            name: "price",
            reg: /^(\d+)(\.\d{1,2})?$/,
            prefix: "待售价格：",
            suffix: "万元"
        });
    }
</script>