<link rel="stylesheet" type="text/css" href="/css/page/carsedit.css">
<form id="carsEditFrom" action="/api/addCar" method="post">
    <div class="form-group">
        <span class="input-icon icon-left">
            <textarea id="txtRemark" name="remark" class="carsedit-textarea form-control" rows="5" maxlength="100" placeholder="车况优势：限制100个字符"></textarea>
            <i class="fa fa-file-text-o circular"></i>
        </span>
        <input id="btnRecord" type="button" class="btn btn-primary btn-block" value="按住说话"/>
    </div>
    <div class="form-group">
        <span class="input-icon icon-left">
            <input id="txtBuytime" type="text" class="form-control" placeholder="收购日期：年-月-日" readonly="readonly">
            <input name="buytime" type="hidden">
            <i class="fa fa-lock circular"></i>
        </span>
        注：您收购此车的时间？<br/>该信息我们将严格保密，仅您可见。
    </div>
    <div class="form-group">
        <span class="input-icon icon-left">
            <input id="txtCkyearDate" type="text" class="form-control" placeholder="年检到期时间：年-月" readonly="readonly">
            <input name="ckyear_date" type="hidden">
            <i class="fa fa-calendar circular"></i>
        </span>
    </div>
    <div class="form-group">
        <span class="input-icon icon-left">
            <input id="txtTlciDate" type="text" class="form-control" placeholder="交强险到期时间：年-月" readonly="readonly">
            <input name="tlci_date" type="hidden">
            <i class="fa fa-calendar circular"></i>
        </span>
    </div>
    <div class="form-group">
        <span class="input-icon icon-left">
            <input id="txtAuditDate" type="text" class="form-control" placeholder="商业险到期时间：年-月" readonly="readonly">
            <input name="audit_date" type="hidden">
            <i class="fa fa-calendar circular"></i>
        </span>
    </div>
    <div class="form-group">
        <span class="input-icon icon-left">
            <input id="txtIsProblem" type="text" class="form-control" placeholder="重大事故/水浸/火烧：是/否" value="重大事故/水浸/火烧：否" readonly="readonly">
            <input name="isproblem" type="hidden" value="0"/>
            <i class="fa fa-warning circular"></i>
        </span>
    </div>
    <div class="form-group">
        <span class="input-icon icon-left">
            <input id="txtIsTain" type="text" class="form-control" placeholder="定期4S店保养：是/否" value="定期4S店保养：是" readonly="readonly">
            <input name="istain" type="hidden" value="1"/>
            <i class="fa fa-wrench circular"></i>
        </span>
    </div>
    <input name="brand_id" type="hidden"/>
    <input name="series_id" type="hidden"/>
    <input name="model_id" type="hidden"/>
    <input name="title" type="hidden"/>
    <input name="provid" type="hidden"/>
    <input name="cityid" type="hidden"/>
    <input name="colorid" type="hidden"/>
    <input name="mileage" type="hidden"/>
    <input name="register_date" type="hidden"/>
    <input name="divupload" type="hidden" value="0"/>
    <input name="img0" type="hidden"/>
    <input name="img1" type="hidden"/>
    <input name="img2" type="hidden"/>
    <input name="img3" type="hidden"/>
    <input name="img4" type="hidden"/>
    <input name="img5" type="hidden"/>
    <input name="img6" type="hidden"/>
    <input name="img7" type="hidden"/>
    <input name="img8" type="hidden"/>
    <input name="innerid" type="hidden"/>
    <input name="imgdel" type="hidden"/>
    <input name="price" type="hidden"/>
    <input id="btnSubmit" type="submit">
</form>
<script>
    // 重定向
    if (sessionStorage.noCarReturn == 'true') {
        location.href = "/open/cars";
    }

    function init() {
        // 窗口高度调节
        $("#widget-bottom").hide();
        (function(height) {
            $("#page-body").height(height);
            $("#carsEditFrom").height(height - 20);
        })(document.documentElement.clientHeight - 60);

        // 初始化编辑
        initData(
            $("#carsEditFrom"), 
            sessionStorage.carEditData, 
            [
                {
                    id: "#txtBuytime", 
                    names: ["buytime"], 
                    number: 1,
                    prefix: "收购日期：",
                    suffix: ""
                },
                {
                    id: "#txtIsProblem", 
                    names: ["isproblem"], 
                    number: 1,
                    prefix: "重大事故/水浸/火烧：",
                    suffix: ""
                },
                {
                    id: "#txtIsTain", 
                    names: ["istain"], 
                    number: 1,
                    prefix: "定期4S店保养：",
                    suffix: ""
                },
                {
                    id: "#txtCkyearDate", 
                    names: ["ckyear_date"], 
                    number: 1,
                    prefix: "年检到期时间：",
                    suffix: ""
                },
                {
                    id: "#txtTlciDate", 
                    names: ["tlci_date"], 
                    number: 1,
                    prefix: "交强险到期时间：",
                    suffix: ""
                },
                {
                    id: "#txtAuditDate", 
                    names: ["audit_date"], 
                    number: 1,
                    prefix: "商业险到期时间：",
                    suffix: ""
                },
                {
                    id: "#txtRemark", 
                    names: ["remark"], 
                    number: 1,
                    prefix: "",
                    suffix: ""
                }
            ],
            function(data) {
                
            }
        );

        // 提交
        var savebl = true;
        $("#btnOperation").click(function() {  
            // 手动判断验证
            if ($validator.start({
                isproblem: {
                    notEmpty: {
                        message: '* 请选择是否发生车况'
                    }
                },
                istain: {
                    notEmpty: {
                        message: '* 请填写是否定期保养'
                    }
                }
            })) {
                savebl = false;
                // 单击提交
                $("#btnSubmit").click();
            }
        });

        // 滚动条滚动事件
        $("#modal-add-info").scroll(function() {
            $(".datepicker").hide();
        });

        // 选收购日期
        $("#txtBuytime").click(function() {
            // 生成结构体
            var arr = [];
            // 循环结构体
            for (var year = 2010; year <= (new Date).getFullYear(); year++) {
                arr.push([
                    {
                        text: year + '年',
                        value: year 
                    }
                ]);
            }
            // 省份弹出层
            showModal(
                $("#modal-type-1-info"),
                {
                    title: "年份",
                    msg: arr,
                    text: "text",
                    value: "value",
                    col: 12,
                    hidetitle: true,
                    width: "75%",
                    float: "right"
                }, function(data1, cb1) {
                    arr = [];
                    var bling = ['00','01','02','03','04','05','06','07','08','09'];
                    for (var month = 1; month <= 12; month++) {
                        if (month) {
                            arr.push([
                                { text: month + "月", value: bling[month] ? bling[month] : month }
                            ]);
                        }
                    }
                    // 加载月份
                    showModal(
                        $("#modal-type-2-info"),
                        {
                            title: "月份",
                            msg: arr,
                            text: "text",
                            value: "value",
                            col: 12,
                            hidetitle: true,
                            width: "50%",
                            float: "right"
                        }, function(data2, cb2) {
                            arr = [];
                            var bling = ['00','01','02','03','04','05','06','07','08','09'];
                            for (var month = 1; month <= 31; month++) {
                                if (month) {
                                    arr.push([
                                        { text: month + "日", value: bling[month] ? bling[month] : month }
                                    ]);
                                }
                            }
                            // 加载日
                            showModal(
                                $("#modal-type-3-info"),
                                {
                                    title: "天",
                                    msg: arr,
                                    text: "text",
                                    value: "value",
                                    col: 12,
                                    hidetitle: true,
                                    width: "25%",
                                    float: "right"
                                }, function(data3, cb3) {
                                    $("#txtBuytime").val("收购日期：" + data1.value + '-' + data2.value + '-' + data3.value);
                                    $("input[name='buytime']").val(data1.value + '-' + data2.value + '-' + data3.value);
                                    $("#modal-type-3-info .closed").click();
                                    $("#modal-type-2-info .closed").click();
                                    $("#modal-type-1-info .closed").click();
                                    $("input[name='buytime']")
                                        .parent()
                                        .parent(".form-group")
                                        .removeClass("has-error")
                                        .find(".help-block")
                                        .hide();
                                     cb3();
                                }
                            );
                            cb2();
                        }
                    );
                    // 启动
                    cb1();
                }
            );
        });

        // 选年检
        $("#txtCkyearDate").click(function() {
            // 生成结构体
            var arr = [];
            // 循环结构体
            for (var year = (new Date).getFullYear() - 3; year <= ((new Date).getFullYear() + 5); year++) {
                arr.push([
                    {
                        text: year + '年',
                        value: year 
                    }
                ]);
            }
            // 日期弹出层
            showModal(
                $("#modal-type-1-info"),
                {
                    title: "年份",
                    msg: arr,
                    text: "text",
                    value: "value",
                    col: 12,
                    hidetitle: true,
                    width: "75%",
                    float: "right",
                    isEmpty: true,
                    emptyFun: function() {
                        $("#txtCkyearDate").val("年检到期时间：未知");
                        $("input[name='ckyear_date']").val("");
                        $("#modal-type-1-info .closed").click();
                        $("input[name='ckyear_date']")
                            .parent()
                            .parent(".form-group")
                            .removeClass("has-error")
                            .find(".help-block")
                            .hide();
                    }
                }, function(data1, cb1) {
                    arr = [];
                    var bling = ['00','01','02','03','04','05','06','07','08','09'];
                    for (var month = 1; month <= 12; month++) {
                        if (month) {
                            arr.push([
                                { text: month + "月", value: bling[month] ? bling[month] : month }
                            ]);
                        }
                    }
                    // 加载月份
                    showModal(
                        $("#modal-type-2-info"),
                        {
                            title: "月份",
                            msg: arr,
                            text: "text",
                            value: "value",
                            col: 12,
                            hidetitle: true,
                            width: "50%",
                            float: "right"
                        }, function(data2, cb2) {
                            $("#txtCkyearDate").val("年检到期时间：" + data1.value + '-' + data2.value);
                            $("input[name='ckyear_date']").val(data1.value + '-' + data2.value);
                            $("#modal-type-2-info .closed").click();
                            $("#modal-type-1-info .closed").click();
                            $("input[name='ckyear_date']")
                                .parent()
                                .parent(".form-group")
                                .removeClass("has-error")
                                .find(".help-block")
                                .hide();
                            cb2();
                        }
                    );
                    // 启动
                    cb1();
                }
            );
        });

        // 选交强
        $("#txtTlciDate").click(function() {
            // 生成结构体
            var arr = [];
            // 循环结构体
            for (var year = (new Date).getFullYear() - 3; year <= ((new Date).getFullYear() + 5); year++) {
                arr.push([
                    {
                        text: year + '年',
                        value: year 
                    }
                ]);
            }
            // 日期弹出层
            showModal(
                $("#modal-type-1-info"),
                {
                    title: "年份",
                    msg: arr,
                    text: "text",
                    value: "value",
                    col: 12,
                    hidetitle: true,
                    width: "75%",
                    float: "right",
                    isEmpty: true,
                    emptyFun: function() {
                        $("#txtTlciDate").val("交强险到期时间：未知");
                        $("input[name='tlci_date']").val("");
                        $("#modal-type-1-info .closed").click();
                        $("input[name='tlci_date']")
                            .parent()
                            .parent(".form-group")
                            .removeClass("has-error")
                            .find(".help-block")
                            .hide();
                    }
                }, function(data1, cb1) {
                    arr = [];
                    var bling = ['00','01','02','03','04','05','06','07','08','09'];
                    for (var month = 1; month <= 12; month++) {
                        if (month) {
                            arr.push([
                                { text: month + "月", value: bling[month] ? bling[month] : month }
                            ]);
                        }
                    }
                    // 加载月份
                    showModal(
                        $("#modal-type-2-info"),
                        {
                            title: "月份",
                            msg: arr,
                            text: "text",
                            value: "value",
                            col: 12,
                            hidetitle: true,
                            width: "50%",
                            float: "right"
                        }, function(data2, cb2) {
                            $("#txtTlciDate").val("交强险到期时间：" + data1.value + '-' + data2.value);
                            $("input[name='tlci_date']").val(data1.value + '-' + data2.value);
                            $("#modal-type-2-info .closed").click();
                            $("#modal-type-1-info .closed").click();
                            $("input[name='tlci_date']")
                                .parent()
                                .parent(".form-group")
                                .removeClass("has-error")
                                .find(".help-block")
                                .hide();
                            cb2();
                        }
                    );
                    // 启动
                    cb1();
                }
            );
        });

        // 选商业
        $("#txtAuditDate").click(function() {
            // 生成结构体
            var arr = [];
            // 循环结构体
            for (var year = (new Date).getFullYear() - 3; year <= ((new Date).getFullYear() + 5); year++) {
                arr.push([
                    {
                        text: year + '年',
                        value: year 
                    }
                ]);
            }
            // 日期弹出层
            showModal(
                $("#modal-type-1-info"),
                {
                    title: "年份",
                    msg: arr,
                    text: "text",
                    value: "value",
                    col: 12,
                    hidetitle: true,
                    width: "75%",
                    float: "right",
                    isEmpty: true,
                    emptyFun: function() {
                        $("#txtAuditDate").val("商业险到期时间：未知");
                        $("input[name='audit_date']").val("");
                        $("#modal-type-1-info .closed").click();
                        $("input[name='audit_date']")
                            .parent()
                            .parent(".form-group")
                            .removeClass("has-error")
                            .find(".help-block")
                            .hide();
                    }
                }, function(data1, cb1) {
                    arr = [];
                    var bling = ['00','01','02','03','04','05','06','07','08','09'];
                    for (var month = 1; month <= 12; month++) {
                        if (month) {
                            arr.push([
                                { text: month + "月", value: bling[month] ? bling[month] : month }
                            ]);
                        }
                    }
                    // 加载月份
                    showModal(
                        $("#modal-type-2-info"),
                        {
                            title: "月份",
                            msg: arr,
                            text: "text",
                            value: "value",
                            col: 12,
                            hidetitle: true,
                            width: "50%",
                            float: "right"
                        }, function(data2, cb2) {
                            $("#txtAuditDate").val("商业险到期时间：" + data1.value + '-' + data2.value);
                            $("input[name='audit_date']").val(data1.value + '-' + data2.value);
                            $("#modal-type-2-info .closed").click();
                            $("#modal-type-1-info .closed").click();
                            $("input[name='audit_date']")
                                .parent()
                                .parent(".form-group")
                                .removeClass("has-error")
                                .find(".help-block")
                                .hide();
                            cb2();
                        }
                    );
                    // 启动
                    cb1();
                }
            );
        });

        // 是否发生事故
        $("#txtIsProblem").click(function() {
            showModal(
                $("#modal-type-1-info"),
                {
                    title: "是否发生重大事故/水浸/火烧",
                    msg: {
                        display: [
                            { CodeName: '<a href="javascript:void(0);" class="btn btn-labeled btn-darkorange">是<i class="btn-label glyphicon glyphicon-ok"></i></a>', CodeValue: "1" },
                            { CodeName: '<a href="javascript:void(0);" class="btn btn-labeled btn-palegreen">否<i class="btn-label glyphicon glyphicon-remove"></i></a>', CodeValue: "0" }
                        ]
                    },
                    text: "CodeName",
                    value: "CodeValue",
                    col: 6,
                    isHideClose: true,
                    width: "75%",
                    float: "right",
                    align: "center"
                }, function(data1, cb1) {
                    $("#txtIsProblem").val("重大事故/水浸/火烧：" + data1.text);
                    $("input[name='isproblem']").val(data1.value)
                        .parent()
                        .parent(".form-group")
                        .removeClass("has-error")
                        .find(".help-block")
                        .hide();
                    $("#modal-type-1-info .closed").click();
                    cb1();
                }
            );
        });

        // 是否定时保养
        $("#txtIsTain").click(function(){
            showModal(
                $("#modal-type-1-info"),
                {
                    title: "是否定期4S店保养",
                    msg: {
                        display: [
                            { CodeName: '<a href="javascript:void(0);" class="btn btn-labeled btn-darkorange"><i class="btn-label glyphicon glyphicon-ok"></i>是</a>', CodeValue: "1" },
                            { CodeName: '<a href="javascript:void(0);" class="btn btn-labeled btn-palegreen"><i class="btn-label glyphicon glyphicon-remove"></i>否</a>', CodeValue: "0" }
                        ]
                    },
                    text: "CodeName",
                    value: "CodeValue",
                    col: 6,
                    isHideClose: true,
                    width: "75%",
                    float: "right",
                    align: "center"
                }, function(data1, cb1) {
                    $("#txtIsTain").val("定期4S店保养：" + data1.text);
                    $("input[name='istain']").val(data1.value)
                        .parent()
                        .parent(".form-group")
                        .removeClass("has-error")
                        .find(".help-block")
                        .hide();
                    $("#modal-type-1-info .closed").click();
                    cb1();
                }
            );
        });

        // 录音接口
        var isRecord = true;
        $("#btnRecord").click(function() {
            // 开始录音
            if (typeof wx != 'undefined' && wx instanceof Object) {
                if (isRecord) {
                    // 录音
                    isRecord = false;
                    $(this).removeClass("btn-primary").addClass("btn-danger").val("语音读入中...");
                    wx.startRecord();
                } else {
                    // 停止
                    isRecord = true;
                    $(this).removeClass("btn-danger").addClass("btn-primary").val("按住说话");
                    wx.stopRecord({
                        success: function (res) {
                            wx.translateVoice({
                                // 需要识别的音频的本地Id，由录音相关接口获得
                                localId: res.localId,
                                // 默认为1，显示进度提示
                                isShowProgressTips: 1,
                                success: function (res) {
                                    // 语音识别的结果
                                    $("#txtRemark").val(($("#txtRemark").val() + res.translateResult).substr(0, 100));
                                }
                            });
                        }
                    });

                }
            }
        });
    }
</script>