<link href="../css/page/home.css" rel="stylesheet" />
<div id="page_home" class="widget animated fadeInDown" style="margin: 0;overflow-y: auto;">
	<div class="widget-header bordered-bottom bordered-palegreen extend-widget-header">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
				高达计算机
			</div>
		</div>
	</div>
</div>
<script src="/js/page/home.js"></script>