<style>
    .fa-valuation:before{
        content:"";
        background-image:url('/img/valuation.png');
    }
</style>
<div class="row" style="direction: initial;margin-right: 5px;margin-left: 5px;">
    <div class="col-lg-3 col-sm-3 col-xs-4 buttons-preview" style="float: left;padding-left: 5px;padding-right: 5px;margin-bottom: 12px;">
        <a href="/open/friends" class="btn btn-darkorange" style="padding: 13px 12px;left: 50%;margin-left: -39px;">
            <i class="fa fa-group animated fadeInDown" style="margin:0;font-size: 25px;"></i>
            <div style="margin-top: 5px;width:52px;">
                好友
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-4 buttons-preview" style="float: left;padding-left: 5px;padding-right: 5px;margin-bottom: 12px;">
        <a href="/open/about" class="btn btn-sky" style="padding: 13px 12px;left: 50%;margin-left: -39px;">
            <i class="fa  fa-user animated fadeInDown" style="margin:0;font-size: 25px;"></i>
            <div style="margin-top: 5px;">
                关于我们
            </div>
        </a>
    </div>
        <div class="col-lg-3 col-sm-3 col-xs-4 buttons-preview" style="float: left;padding-left: 5px;padding-right: 5px;margin-bottom: 12px;">
        <a href="/open/carsearch" class="btn btn-primary" style="padding: 13px 12px;left: 50%;margin-left: -39px;">
            <span class="fa fa-truck animated fadeInDown" style="margin:0;font-size: 25px;"></span>
            <div style="margin-top: 5px;">
                全城搜车
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-4 buttons-preview" style="float: left;padding-left: 5px;padding-right: 5px;margin-bottom: 12px;">
        <a href="/open/valuation?login=1" class="btn btn-warning animated fadeInDown" style="padding: 13px 12px;left: 50%;margin-left: -39px;">
            <img src="/img/valuation.png" width="25" class=""/>
            <div style="margin-top: 5px;width:52px;">
                估价
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-4 buttons-preview" style="float: left;padding-left: 5px;padding-right: 5px;margin-bottom: 12px;">
        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=<%=appId%>&redirect_uri=http://<%=redirect_uri%>/api/pageShop&response_type=code&scope=snsapi_base&state=a&connect_redirect=1#wechat_redirect" class="btn btn-palegreen animated fadeInDown" style="padding: 13px 12px;left: 50%;margin-left: -39px;">
            <i class="fa fa-shopping-cart animated fadeInDown" style="margin:0;font-size: 25px;"></i>
            <div style="margin-top: 5px;width:52px;">
                商城
            </div>
        </a>
    </div>
</div>