<style>
    .btnFb:active {
        box-shadow: -3px 5px 10px 3px rgba(258, 258, 258, 0.5), 5px -5px 20px 10px rgba(258, 258, 47, 0.5) inset, 0px 2px 1px rgba(26, 254, 26, .7);
    }
    .xuanzhelist .active {
        box-shadow: -3px 5px 10px 3px rgba(54, 25, 11, 0.5), 5px -5px 20px 10px rgba(155, 65, 47, 0.5) inset, 0px 2px 1px rgba(18, 11, 38, .7);
    }
</style>
<div class="row bg-themeprimary no-margin" style="border-radius: 8%;">
    <div class="xuanzhelist">
        <div class="col-lg-3 col-sm-3 col-xs-3" style="padding-left: 8px;padding-right: 8px;">
            <div class="plan-circular animated flipInX">
                <span class="plan-title">高端白</span>
                <hr class="title-devider" style="margin: 5px 40%;">
                <div class="plan-body active" style="width: 55px;height: 55px;line-height: 40px;font-size: 22px;border: 0;background-color: rgba(255,255,255,0.3);" onclick="template(1, '../img/share1.jpg');">
                    <div class="btnFb" style="position: absolute;width: 40px;height: 40px;background-color: #fff;border-radius: 50%;left: 50%;margin-left: -20px;top: 50%;margin-top: -20px;">
                        1
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-3" style="padding-left: 8px;padding-right: 8px;">
            <div class="plan-circular animated flipInX">
                <span class="plan-title">大气黄</span>
                <hr class="title-devider" style="margin: 5px 40%;">
                <div class="plan-body" style="width: 55px;height: 55px;line-height: 40px;font-size: 22px;border: 0;background-color: rgba(255,255,255,0.3);" value="4" onclick="template(4, '../img/share2.jpg');">
                    <div class="btnFb" style="position: absolute;width: 40px;height: 40px;background-color: #fff;border-radius: 50%;left: 50%;margin-left: -20px;top: 50%;margin-top: -20px;">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-3" style="padding-left: 8px;padding-right: 8px;">
            <div class="plan-circular animated flipInX">
                <span class="plan-title">上品黑</span>
                <hr class="title-devider" style="margin: 5px 40%;">
                <div class="plan-body" style="width: 55px;height: 55px;line-height: 40px;font-size: 22px;border: 0;background-color: rgba(255,255,255,0.3);" value="2" onclick="template(2, '../img/share3.jpg');">
                    <div class="btnFb" style="position: absolute;width: 40px;height: 40px;background-color: #fff;border-radius: 50%;left: 50%;margin-left: -20px;top: 50%;margin-top: -20px;">
                         3
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-3" style="padding-left: 8px;padding-right: 8px;">
            <div class="plan-circular animated flipInX">
                <span class="plan-title" style="margin-left: -8px;"><img src="../img/fire.gif" style="margin-top: -10px;"/>炫酷蓝</span>
                <hr class="title-devider" style="margin: 5px 40%;">
                <div class="plan-body" style="width: 55px;height: 55px;line-height: 40px;font-size: 22px;border: 0;background-color: rgba(255,255,255,0.3);" value="5" onclick="template(5, '../img/share5.jpg');">
                    <div class="btnFb" style="position: absolute;width: 40px;height: 40px;background-color: #fff;border-radius: 50%;left: 50%;margin-left: -20px;top: 50%;margin-top: -20px;">
                        4
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divIframe" class="animated fadeInDown" style="width: 100%;margin-top: 5px;overflow: auto;">
</div>
<input id="custid" type="hidden" value="<%= custid || ''%>" />
<input id="carid" type="hidden" value="<%= carid || ''%>" />
<input id="templateid" type="hidden"/>
<script>
    var shareData = {};
    function template(num, imgSrc) {
        // 修改模板
        $("#templateid").val(num);
        var img = new Image();
        img.src = imgSrc;
        img.onload = function() {
            // 计算高度
            var h = img.height * $("#divIframe").width() / img.width;
            // 放页面
            $("#divIframe").height($(window).height() - 193).html(
                $("<img></img>").css({
                    "border": 0,
                    "width": "100%",
                    "height": h
                }).prop("src", img.src)
            );
        }
    }

    function init() {
        // 打开默认模板
        template(1, "../img/share1.jpg");
        $("#widget-bottom").hide();
        // 窗口高度调节
        $("#page-body").css({
            "padding": "5px 5px",
            "height": "100%" 
        });
        // 触发预览
        $("#btnOperation").click(function() {
            location.href = '/template/m/' + $("#templateid").val() + "?state=" + $("#custid").val() + "&carid=" + $("#carid").val() + "&isshow=true";
        });
        // 选择事件绑定
        $(".xuanzhelist .plan-body").click(function() {
            $(".xuanzhelist .plan-body").removeClass("active");
            $(this).not(".noShow").addClass("active");
        });
    }
</script>