<script src="../js/skins.min.js"></script>
<div id="chatbar" class="page-chatbar" style="width:100%;position: inherit;    height: 100%;">
    <div class="chatbar-contacts">
        <div class="modal-header">
            <h3 style="margin:0;">
                好友列表
            </h3>
        </div>
        <ul class="contacts-list">
            <li class="contact blue">
                <div class="contact-avatar">
                    <img src="../img/cs.png" style="border: 1px solid #ddd;border-radius: 2px;" />
                </div>
                <div class="contact-info" style="vertical-align: top;">
                    <div class="contact-name" style="font-size: 20px;">
                        姜子牙
                        <span class="badge badge-warning graded" style="margin-top: -5px;">
                            <i class="fa fa-user"></i> 等级 6
                        </span>
                    </div>
                    <div class="yellow" style="margin-left: 2px;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="contact-status" style="margin-left: 4px;">
                        <div class="online"></div>
                        <div class="status">在线</div>
                    </div>
                    <div class="last-chat-time">
                        <span class="label label-purple graded">
                            查看资料
                        </span>
                    </div>
                </div>
            </li>
            <li class="contact blue">
                <div class="contact-avatar">
                    <img src="../img/cs.png" style="border: 1px solid #ddd;border-radius: 2px;" />
                </div>
                <div class="contact-info" style="vertical-align: top;">
                    <div class="contact-name" style="font-size: 20px;">
                        卫青
                        <span class="badge badge-warning graded" style="margin-top: -5px;">
                            <i class="fa fa-user"></i> 等级 6
                        </span>
                    </div>
                    <div class="yellow" style="margin-left: 2px;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="contact-status" style="margin-left: 4px;">
                        <div class="online"></div>
                        <div class="status">在线</div>
                    </div>
                    <div class="last-chat-time">
                        <span class="label label-purple graded">
                            查看资料
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="chatbar-messages" style="display: none;">
        <div class="messages-contact">
            <div class="contact-avatar">
                <img src="../img/cs.png" style="border: 1px solid #ddd;border-radius: 2px;"/>
            </div>
            <div class="contact-info" style="vertical-align: top;">
                <div class="contact-name" style="font-size: 20px;">
                    姜子牙
                    <span class="badge badge-warning graded" style="margin-top: -5px;">
                        <i class="fa fa-user"></i> 等级 6
                    </span>
                </div>
                <div class="yellow" style="margin-left: 2px;">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="contact-status" style="margin-left: 4px;">
                    <div class="online"></div>
                    <div class="status">在线</div>
                </div>
                <div class="last-chat-time">
                    <span class="label label-purple graded">
                        查看资料
                    </span>
                </div>
                <div class="back" style="margin: 5px 23px;">
                    <i class="fa fa-mail-reply" style="font-size: 24px;"></i>
                </div>
            </div>
        </div>
        <ul class="messages-list" style="overflow: auto;">
            <li class="message">
                <div class="message-info">
                    <div class="bullet" style="margin-bottom: 2px;"></div>
                    <div class="contact-name">我</div>
                    <div class="message-time">10:14</div>
                </div>
                <div class="message-body" style="margin: 12px 0;margin-right: 10%;">
                    孙子
                </div>
            </li>
            <li class="message reply">
                <div class="message-info">
                    <div class="bullet" style="margin-top: 6px;"></div>
                    <div class="contact-name">姜子牙</div>
                    <div class="message-time">10:15</div>
                </div>
                <div class="message-body" style="margin: 12px 0;margin-left: 10%;">
                    草
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="qlchatbar" class="page-chatbar open" style="width:100%;position: inherit;height: 100%;">
    <div class="chatbar-messages">
        <ul class="messages-list" style="overflow: auto;">
            <li class="message">
                <div class="message-info">
                    <div class="bullet" style="margin-bottom: 2px;"></div>
                    <div class="contact-name">我</div>
                    <div class="message-time">10:14</div>
                </div>
                <div class="message-body" style="margin: 12px 0;margin-right: 10%;">
                    孙子
                </div>
            </li>
            <li class="message reply">
                <div class="message-info">
                    <div class="bullet" style="margin-top: 6px;"></div>
                    <div class="contact-name">姜子牙</div>
                    <div class="message-time">10:15</div>
                </div>
                <div class="message-body" style="margin: 12px 0;margin-left: 10%;">
                    草
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="../js/beyond.min.js"></script>
<script>
    $(function() {
        $("#txtSms").keyup(function() {
            if ($(this).val().length) {
                $("#btnAddList").hide();
                $("#btnSms").show();
            } else {
                $("#btnAddList").show();
                $("#btnSms").hide();
            }
        });
        $("#chatbar .chatbar-messages .messages-list").height($("#page-body").height() - $("#chatbar .chatbar-messages .messages-contact").height() - 40);
        $("#qlchatbar .chatbar-messages .messages-list").height($("#page-body").height() - 40);
        $("#btnSms").click(function() {
            if ($("#chatbar").hasClass("open")) {
                $("#chatbar .chatbar-messages .messages-list").append(
                    $("<li></li>").addClass("message").append(
                        $("<div></div>").addClass("message-info").append(
                            $("<div></div>").addClass("bullet").attr("style", "margin-bottom: 2px;")
                        ).append(
                            $("<div></div>").addClass("contact-name").text("我")
                        ).append(
                            $("<div></div>").addClass("message-time").text((new Date()).format("hh:mm"))
                        )
                    ).append(
                        $("<div></div>").addClass("message-body").attr("style", "margin: 12px 0;margin-right: 10%;word-wrap: break-word;").text($("#txtSms").val())
                    )
                );
                $('#chatbar .messages-list').scrollTop($('#chatbar .messages-list')[0].scrollHeight);
            } else {
                $("#qlchatbar .chatbar-messages .messages-list").append(
                    $("<li></li>").addClass("message").append(
                        $("<div></div>").addClass("message-info").append(
                            $("<div></div>").addClass("bullet").attr("style", "margin-bottom: 2px;")
                        ).append(
                            $("<div></div>").addClass("contact-name").text("我")
                        ).append(
                            $("<div></div>").addClass("message-time").text((new Date()).format("hh:mm"))
                        )
                    ).append(
                        $("<div></div>").addClass("message-body").attr("style", "margin: 12px 0;margin-right: 10%;word-wrap: break-word;").text($("#txtSms").val())
                    )
                );
                $('#qlchatbar .messages-list').scrollTop($('#qlchatbar .messages-list')[0].scrollHeight); 
            }
            $("#txtSms").val("").keyup();    
        });
        $("#btnReturn").click(function() {
            if ($("#divCd").css("display") == "none") {
                $("#divCd").show();
                $("#divLt").hide();
            } else {
                $("#divCd").hide();
                $("#divLt").show();         
            }
        });
    });
</script>