<style type="text/css">
	#page-body{
		overflow-y:auto;
	}
	.valuation-container{
		width:90%; margin:0 auto;
	}
	.car{
		font-size:19px; color:black;
	}
	.range{
		background-color:#009aff; color:white;
		height:68px; line-height:68px;
		text-align:center; font-size:22px;
		margin-top:20px; border-radius: 3px 3px 0 0;
	}
	.triangle-down {
		width: 0; height: 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 12px solid #009aff;
		margin:0 auto;
	}
	.box{width:90%;margin:100px auto 0;position:relative;height:5px;background:#d7d7d7;}
	.middle{width:67.6%;position:absolute;height:100%;background:#009aff;left:50%;margin-left:-33.8%;}
	.left,.right{position:absolute;bottom:-30px;width:100px;text-align:center;}
	.left{left:-5px;}
	.right{right:-5px;}
	.text{color:#03b6b5;font-size:16px;margin-bottom:8px;display:block;}
	.price{color:#333;font-size:14px;margin-top:2px;display:block;}
	.right .text{color:#ff6601;}
	.dot{
		width:12px; height:12px;border:2px solid white;border-radius:50%;
		display:inline-block; margin-top:4px;
	}
	hr{
		margin-top: 10px; margin-bottom: 10px;
	}
</style>
<div class="valuation-container">
	<h2 class="car data" name="model_name" style="padding-left:5px"></h2>
	<p style="font-size:18px;padding-left:5px;margin-top:18px;">
		<span style="color:#999">新车指导价: </span>
		<span class="data" name="new-price" style="color:#3fa8ff"></span>
	</p>
	<hr/>
	<p style="font-size:18px;padding-left:5px">
		<span class="data" name="register_date"></span>
		<span class="data" name="provname"></span><span class="data" name="cityname"></span>
	</p>
	<div class="range">
		估值范围
	</div>
	<div style="height:190px;border:2px solid #009aff">
		<div class="triangle-down"></div>
		<div class="box">
			<div class="middle"></div>
			<div class="left">
				<span class="text">最低估值</span>
				<div style="display:inline-block">
					<img src="/img/low-price.png"/>
					<br/>
					<div class="dot" style="background-color:#01b8b3;"></div>
				</div>
				<span class="price data" name="low-price"></span>
			</div>
			<div class="right">
				<span class="text">最高估值</span>
				<div style="display:inline-block">
					<img src="/img/high-price.png"/>
					<br/>
					<div class="dot" style="background-color:#fc6700;"></div>
				</div>
				<span class="price data" name="high-price"></span>
			</div>
		</div>
	</div>
</div>
<script>
	function init() {
		if(!getQueryString('login')){
			// 窗口高度调节
        	$("#widget-bottom").hide();
        	$("#page-body").height(document.documentElement.clientHeight - 68).css("padding", "5px 5px");
		}
    }

	var data = JSON.parse(sessionStorage.valuationData||'{}');
	$('.data').each(function(index,obj){
		var $obj = $(obj);
		if($obj.attr('name').indexOf('price') >= 0){
			$('[name="low-price"]').text(data.price[0]+'万元');
			$('[name="high-price"]').text(data.price[1]+'万元');
			$('[name="new-price"]').text(data.price[2]+'万');
			return;
		}
		if($obj.attr('name')=='model_name'){
			$obj.text(data['brand_name']+data['model_name']);
			return;
		}
		$obj.text(data[$obj.attr('name')]);
	});
</script>