<div style="background-color: #fff!important;height:100%;">
	<img src="../img/shz.gif" style="width:100%;margin-top: 80px;">
</div>
<script>
    function init() {
        $("#widget-bottom").hide();
        // 窗口高度调节
        $("#page-body").height(document.documentElement.clientHeight - 68).css("padding", "5px 5px");
    }
</script>