p{
	text-align: center; font-size: 2.5rem; line-height: 44px;
}
h2{
	font-size:2.1rem; font-weight: 500; line-height: 57px; padding-left: 36px;
}
hr{
	border-top: 1px solid #CCCCCC;margin:0;
}
.division{
	background-color:#CCCCCC; height: 9px; margin-top: 5px;
}
.item{
	margin: 0 auto; width: 590px; padding-left: 12px; text-align: left;
}
.datum td{
	border:0; margin:0; padding:0;
	border-bottom:1px solid #CCCCCC;
	font-size: 2.1rem;
}
.datum tr:last-child > td{
	border:0;
}
.datum tbody tr{
	line-height: 45px;
}
.datum .td1{
	width: 110px;
}
.datum .td2{
    width: 154px;
}
.datum .td3{
	width: 118px;
}
.datum .td4{
    width: 208px;
}
.desc{
	padding:20px 40px 20px 5px;
	line-height: 33px; font-size: 1.9rem;
	width: 590px; box-sizing: border-box;
}
.price{
	display:inline-block; width:80px; background-color:red; color:white; height:36px; line-height:36px;
}
.triangle-right{
	content:"";
	display: inline-block;
	width: 0; height: 0;
	border-left: 12px solid red;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	margin-left: -8px;
}
.datum .td1,.datum .td3, .region{
	color:#7F7F7F;
}
.more{
	text-align:center; line-height: 58px; font-size: 1.8rem; color: #73341D; border:0;
}

.icon{
	width:17px;height:17px;margin-right:10px;
}

.condition{
	line-height:34px; width: 520px; font-size: 2.4rem; padding:10px 0 0 5px;
}

/*.item{
	animation:fadeIn 3s ease 1s both;
}*/