p{
	text-align: center; font-size: 2.4rem; line-height: 37px;
}
h2{
	font-size:1.8rem; font-weight: 500; line-height: 48px; padding-left: 48px;
}
body{
	background-color: #171516; color:white;
}
img{
	vertical-align: middle;
}
html,body{
	overflow:hidden;
}
.item{
	margin: 200px auto 0; width: 590px;
	padding: 40px 20px 40px;
	border-width:2px; border-style:dashed;
	border-radius:15px;
	box-sizing: border-box;
}

/*page3 start*/
	.datum{
		border-color:#F7C035;
	}
	.datum td{
		border:0; margin:0; padding:0;
		font-size: 2.2rem;
	}
	.datum tbody tr{
		line-height: 48px;
	}
	.datum .td1{
		width: 30%;
		padding-left: 20px;
	}
	.datum .td2{
		width: 75%;
		padding-left: 20px;
	}
	.datum tr:nth-of-type(2n+1) .td1{
		border:2px solid #006881;
		border-right:0;
		background-color:#191039;
	}
	.datum tr:nth-of-type(2n+1) .td2{
		border:2px solid #006881;
		border-left:0;
		background-color:#191039;
	}
/*page3 end*/

.desc{
	display:inline-block; padding: 20px 15px 20px;
	line-height: 48px; font-size: 2.2rem;text-align:left;
	color:#ccc;
}
.price{
	display:inline-block; width:80px; color:#6F5352; height:30px; line-height:30px;
}
.stage > div{
	width:640px;
}
.stage .page{
	position:absolute;left:0;right:0;top:0;bottom:0;
}
.stage{
	width:640px; position:absolute; top:0; bottom:0;
	background-image:url('/template/img/2/background.jpg');
}
.background{
	width:640px; position:absolute; top:0; bottom:0; z-index:0;
}

.init{
	position:absolute;left:0;right:0;top:0;bottom:0;width:640px;
}

.heads-container{
	width:160px; height:160px; line-height:160px;
	border-radius:50%;
	border:2px solid #026882;
	background-color:#08043A;
	margin: 130px auto 0;
	text-align:center;
}

.heads{
	width:140px; height:140px; line-height: 138px;
	display:inline-block;
	border-radius:50%;
	overflow:hidden;
	vertical-align: middle;
}

.heads-image{
	width:140px; height:140px; vertical-align: baseline;
}

.title-container{
	margin-top: -44px; width: 140px;height:40px;line-height:40px; background-color:#150917; 
}

.title{
	float:left;width:120px;text-align:center; border-radius:15px;font-size: 2rem;
}

.title-dot{
	float:right; font-size: 1.8rem; 
}

@keyframes meteor{
	0%{transform:translate(360px,-270px);}
	100%{transform:translate(-360px,270px);}
}

@keyframes meteor-far{
	0%{transform:translate(600px,-450px);}
	100%{transform:translate(-600px,450px);}
}

/*background start*/
	.active2 .background, .active4 .background{
		display:none;
	}

	.active6 .background .things{
		display:none;
	}

	.active3 .background .star2,.active3 .background .star5,.active3 .background .light,
	.active5 .background .star2,.active5 .background .star5,.active5 .background .light,
	.active6 .background .star2,.active6 .background .star5,.active6 .background .light{
		display:none;
	}

	.active3 .background .things1,
	.active5 .background .things1,
	.active6 .background .things1{
		top:30px;
	}

	.background .star1{
		position: absolute; left: -40px;
		animation: meteor 2.4s linear 0.1s both infinite;
	}

	.background .star2{
		width:310px; height:184px;
		position: absolute; top: 400px; left:-50px;
		animation: meteor 2.4s linear 0.3s both infinite;
	}

	.background .star3{
		width:155px; height:92px;
		position: absolute; bottom: 0; left:50px;
		animation: meteor-far 2.4s linear 0.5s both infinite;
		z-index:8;
	}

	.background .star4{
		width:102px; height:64px;
		position: absolute; bottom: 100px; right:50px;
		animation: meteor 2.4s linear 0.4s both infinite;
	}

	.background .star5{
		width:310px; height:184px;
		position: absolute; top: 300px; right: -214px;
		animation: meteor 2.4s linear 0.6s both infinite;
	}

	.background .things1{
		position: absolute; right: 100px; top: 550px;
		animation: meteor-far 2.4s linear 0.2s both infinite;
		z-index:9;
	}

	.background .light{
		position: absolute; right: 20px; top: 650px;
	}

	.background .things{
		position: absolute; top: 640px; left: 100px;
		width: 120px; height: 120px;
	}

	.background .things3{
		position: absolute; top: 50px;
	}

	.active3 .background .things, .active5 .background .things{
		top: 820px;
	}
/*background end*/

/*page2 start*/
	#page2{
		background-image:url('/template/img/2/2-background.png');
		background-position: 0 64px;
		background-repeat: no-repeat;
	}

	#page2 .main{
		width:600px; margin:200px 15px 0 25px;
		position: relative;
		height: 440px;
	}

	#page2 .main .car{
		width:192px; height:140px; float:left; margin-right:8px; margin-bottom:10px;
	}
/*page2 end*/

/*page4 start*/
	#page4 .color-image{
		width:304px; height:235px;
	}

	#page4 .pointer{
		width:26px; height:110px;
		position: absolute;left: 50%;top: 24px; margin-left: -13px;
		transform-origin: 13px 90px; transform:rotate(-90deg);
		transition:all 1.2s ease 0.2s;
	}

	#page4 .color-container .pointer{
		transform-origin: 13px 98px;
	}

	#page4 .color-letter{
		top: -10px;
		font-size: 2rem;
	}
	#page4 .letter{
		top: -28px;
		font-size: 2rem;
	}
	#page4 .color-letter.selected{
		color:red;
	}

	#page4 .letter.selected{
		color:white;
	}

	#page4 .letter,#page4 .color-letter{
		position: absolute; left: 50%;
		display:inline-block;
		width:80px;
		margin-left:-40px;
		text-align:center;
		color:#005595;
		transform-origin: 40px 137px;
	}

	#page4 .color-container{
		position:absolute; top:70px;left:50%; margin-left:-152px;
	}

	#page4 .mileage-container, #page4 .commercial-container{
		width:320px; position: absolute; left:0;
	}

	#page4 .annual-container, #page4 .compulsory-container{
		width:320px; position: absolute; right:0;
	}

	#page4 .type{
		position:absolute; left:50%; top:138px; font-size:2.2rem;
	}
/*page4 end*/

/*page6 start*/
	#page6 .good-heads{
		width:500px; margin:40px auto;
	}

	#page6 .good-heads img{
		width:60px;height:60px;float:left; margin:0 10px 20px 0;
	}
/*page6 end*/

.more{
	text-align:center; padding-top:20px !important; color:#F89B25;
}

.active1 .heads-image, .active6 .heads-image{
	border-radius: 50%;
	animation: rotateY 1.8s ease 0.1s both;
}

.active2 #page2 .main img{
	animation: rotateY 1.8s ease 0.1s both;
}

@keyframes jumpIn{
	0%{
		opacity: 0;
		transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}
	60% {
		opacity: 1;
		transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	} 
	100% {
		opacity: 1;
		transform: rotate(0);
	}
}

.active3 .paragraph3, .active5 .paragraph4{
	animation: jumpIn 1.5s ease 0.1s both;
}

.bottom-logo{
	position:absolute;
	bottom:0;
}

.good{
	width:200px;height:80px;line-height:80px;
	font-size:2.8rem;background-color:#FF9A24;
	margin: 120px auto 20px;text-align:center;
	border-radius: 8px; color:white;
	display:block;
}

.status0{
	display:none;
}